.navbar.navbar-default.qi-navbar(role='navigation')
  .header.navbar-header
    // The logo.
    img.qi-logo(src='/static/media/H.png' width='48' height='48' alt='Hydrogen')
    .brand.navbar-brand.qi-brand
      a(href='/quip')
        block title
          | <em>Q<span class='qi-x-smaller'>U</span>IP</em> - Quantitative Imaging Profile
  // The navigation controls.
  .collapse.navbar-collapse
    ul.nav.navbar-nav.qi-navbar-right.navbar-right
      li
        // The Home control.
        a.qi-navbar-choice(href='/quip')
          .glyphicon.glyphicon-home
      li
        // The Help control.
        //- The HelpCtrl controller resets the showHelp flag when the
        //- location changes. Defining the controller creates a new
        //- Angular scope. Therefore, the showHelp flag is defined
        //- in the parent scope in order to share it with the sibling
        //- view scopes.
        button.btn.btn-default.btn-med.qi-navbar-choice(
          type='button', ng-controller='HelpCtrl',
          ng-click="$parent.showHelp = !$parent.showHelp"
        )
          .glyphicon.glyphicon-question-sign
