head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='keywords' content='qipr QIN MR imaging')
  meta(name='description' content='Quantitative Imaging PRofile (QiPr) - correlate imaging biomarkers and clinical results.')

  base(href='/qiprofile')

  // Bootstrap into jspm.
  script(src='jspm_packages/system.src.js')
  script(src='jspm.config.js')
  script(type='text/javascript').
    System.import('./boot.js');

  link(href='stylesheets/app.css' rel='stylesheet')
  link(href='media/favicon.ico' rel='shortcut icon' type='image/x-icon')

  title
    block title
      | QiPr - Quantitative Imaging Profile
