.qi-help(type='info' ng-show='showHelp' close='toggleHelp()' collapse='!showHelp')
  .qi-help-close.glyphicon.glyphicon-remove(ng-click='toggleHelp()')
  block help-text
  .qi-contact-info
     | We welcome your questions and comments placed in our 
     a(href="http://qiprofile.idea.informer.com")
       span.qi-over-under
         span.over Sugg
         span.under Qu
       | estion Box
     | .
