.qi-help(type='info' ng-show='showHelp' close='toggleHelp()' collapse='!showHelp')
  .qi-help-close.glyphicon.glyphicon-remove(ng-click='toggleHelp()')
  block help-text
  .qi-contact-info
    | We welcome your questions and comments at <a href="mailto:quip@ohsu.edu">quip@ohsu.edu</a>.
