// The context billboard, e.g. 'Breast Patient 4'.
.qi-billboard
  h3
    block billboard

.row.qi-main
  .qi-content
      block content
  alert.qi-help(type='info' ng-show='showHelp' close='toggleHelp()'
    collapse='!showHelp'
  )
    block help-text
