// The context billboard, e.g. 'Breast Patient 4'.
.qi-billboard
  h3
    block billboard

.row.qi-main
  .qi-content
      block content
  .qi-help(type='info' ng-show='showHelp' close='toggleHelp()'
    collapse='!showHelp'
  )
    .qi-modal-close.glyphicon.glyphicon-remove(ng-click='toggleHelp()')
    block help-text
    .qi-contact-info(ng-include="'/partials/help/contact-info.html'")
