doctype strict
html(lang='en', ng-app)
  head
    meta(charset='utf-8')
    title Imaging Profile
    link(rel='stylesheet', href='css/qiprofile.css')
    script(src='lib/angular/angular.js')

  body
    p Nothing here {{'yet' + '!'}}
