p
  | This page displays the MR session details for a patient visit.

p
  | The graph displays the average signal intensity, or brightness,
  | of scanned and realigned (i.e., motion-corrected) volume images
  | at each time point of the multi-volume scan. Hover over a line
  | to view exact intensity values at a time point. Click on the
  | purple and green dots above the graph at right to hide/show
  | the scanned and realigned image data, respectively.

p
  | The volume selection panel below the graph consists of one row
  | for the current multi-volume scan and one row for each of its
  | registrations. To begin loading a volume for viewing, click on
  | its <span class="fa fa-download"></span> button. After
  | completion, the button will change to
  | <span class="fa fa-eye-open"></span>; click on it to open
  | the image detail page.

p
  | Click on the <span class="fa fa-info-circle"></span> buttons
  | to the left of the volume selection rows to view details about
  | the scan's type and orientation or the realigned volume's
  | registration technique and parameters.
