// The help button.
button.btn.btn-secondary.qi-btn.qi-minihelp-btn(
  type='button',
  [ngbPopover]="help",
  popoverTitle='Viewer Help',
  container='body',
  placement='right'
)
  i.fa.fa-question-circle

// The help content.
<ng-template #help>
  p
    | The viewer <bold>Help</bold> menu provides more information about
    | using keystrokes and mouse gestures to manipulate the volume
    | display.
</ng-template>
