.qi-volume-intensity-gradients
  .qi-title Intensity Gradient
  // The physical intensity spark lines.
  .qi-panel
    include ./physical-gradient
  // The time point spark line and color bar.
  .qi-panel
    include ./time-point-gradient
