.qi-volume-intensity-gradients
  h5.qi-title Intensity Gradients
  // The physical intensity spark lines.
  .qi-panel
    include ./physical-gradient
  // The time point spark line and color bar.
  .qi-panel
    include ./time-point-gradient
