p
  | This page displays the MR image volume and associated overlays.

p
  | The image viewer is divided into three views which display
  | volume slices in the axial (superior-inferior), sagittal
  | (right-left), and coronal (anterior-posterior) planes. Drag the
  | crosshairs to control the cross-sectional slicing of the volume
  | in the three dimensions. Click on the
  | <span class=qi-pseudo-papaya-button>Swap View</span> button
  | to cycle the slice views in a clockwise rotation. Re-center the
  | image in all planes with the
  | <span class=qi-pseudo-papaya-button>Go To Center</span> button.

p
  | Move the Time Point slider or use the left
  | <i class="fa fa-step-backward"></i> and right
  | <i class="fa fa-step-forward"></i> buttons to
  | decrement and increment the time series point. Click on the
  | play <i class="fa fa-play"></i> button to automatically advance
  | through the series points. Click on the pause
  | <i class="fa fa-pause"></i> button to stay at the current point.

p
  | Similarly, the Session controls on the right select the volume
  | at the same time point for the chosen session number.

p
  | Click on the embedded <i class="fa fa-question-circle"></i>
  | help buttons for additional information.
