// The help button.
button.btn.btn-secondary.qi-btn.qi-minihelp-btn(
  type='button',
  (click)="openHelp(help)"
)
  i.fa.fa-question-circle

// The help content.
<template #help let-d="dismiss">
  .modal-body
    button.close((click)="d('Click')")
      i.fa.fa-close
    // The help text.
    include physical-gradient-help-text
</template>
