p
  | The Physical Intensity Gradient depicts the spatial intensity
  | in the neighborhood of the current coordinate over time. The
  | voxel intensity values for each anatomical dimension is shown
  | as a line. The line color matches the dimension label as
  | follows:

ul
  li
    | <code>L-R</code> - median or sagittal plane (left-right)
  li
    <code>A-P</code> - frontal or coronal plane (anterior-posterior)
  li
    <code>I-S</code> - transverse or axial plane (inferior-superior)

p
  | Each gradient line shows a window into the 50 voxel intensities
  | to either side of the current coordinate in the image view.
  | The gradient direction follows the image view orientation as
  | follows:

ul
  li
    | <code>L-R</code> - moving left to right in the axial view
    | moves from left to right in the sagittal gradient line
  li
    | <code>A-P</code> - moving left to right in the sagittal view
    | moves from left to right in the coronal gradient line
  li
    | <code>I-S</code> - moving down to up in the coronal view moves
    | from left to right in the axial gradient line
