// The if test checks for a loaded volume with intensity values.
.qi-physical-gradient(*ngIf="physicalIntensities")
  // The gradient heading.
  .qi-title
    | Physical
    button.btn.btn-sm.qi-btn(
      (click)="openPhysicalIntensityHelp()"
    )
      .glyphicon.glyphicon-question-sign

  // The gradient lines.
  div(
    qiSparkLine, [width]="gradientWidth", [height]=100,
    [domain]="domain", [data]="physicalIntensities",
    [legend]="physicalIntensitiesLegend", [guide]=true
  )
