// The if test checks for a loaded volume.
.qi-volume-chooser(*ngIf="volume")
  // The chooser heading.
  .qi-title Session

  // The session number slider.
  .qi-slider(
    qi-slider, [min]="1", [max]="sessionCount()",
    [config]="sessionSliderConfig",
    [value]="volume.imageSequence.session.number",
    (changed)="onSessionRequest($event)"
  )

  // The [previous, play, next] buttons.
  qi-player.btn-group(
    [value]="volume.imageSequence.session.number",
    [cancel]="isError", (action)="onSessionRequest($event)"
  )
