// The if test checks for a loaded volume with intensity values.
.qi-time-point-gradient(*ngIf="timePointIntensities")
  // The gradient heading.
  .qi-title
    | Time Point
    include time-point-gradient-help

  // The spark line.
  div(
    qiSparkLine, [width]="gradientWidth", [height]=100, [domain]="domain",
    [data]="timePointIntensities"
  )

  // The color bar.
  div(
    qiColorBar, [width]="gradientWidth", [height]=40, [domain]="domain",
    [data]="timePointIntensities"
  )
