// The help button.
button.btn.btn-secondary.qi-btn.qi-minihelp-btn(
  type='button',
  [ngbPopover]="help",
  popoverTitle='Time Point Gradient Help',
  container='body',
  placement='left'
)
  i.fa.fa-question-circle

// The help content.
<template #help>
  include time-point-gradient-help-text
</template>
