p
  | The Time Point Intensity Gradient depicts the intensity at
  | the current coordinate over the successive scan volume time
  | points. The voxel intensity values at the coordinate are shown
  | as both a line and a color bar for each visited time point.

p
  | Time points which have not yet been visited are omitted. Thus,
  | when this Volume Detail page is first opened, the line is not
  | shown since it has only one time point, and the color bar shows
  | a single color. Clicking on the Time Point play button will
  | progressively show the additional time point intensities as the
  | volumes are loaded. Gaps in the loaded volumes appear as gaps
  | in the line and color bar.

p
  | The implicit line Y axis is scaled from zero to the maximal
  | time series intensity. The implicit X axis is scaled by the
  | time points.

p
  | The color bar is similarly implicitly scaled the same as the
  | line Y axis but is mapped to the
  | <a href="https://bids.github.io/colormap/images/screenshots/option_b.png"
  |    target="_blank"
  | >
  |   Inferno
  | </a>
  | black-to-yellow color map (black = 0, yellow = maximum).

p
  | Repositioning the Image view crosshairs to a different coordinate
  | updates the intensity values for the selected coordinate.
