// The if test checks for a loaded volume.
.qi-volume-chooser(*ngIf="volume")
  // The chooser heading.
  h5.qi-title Time Point

  // The time point slider.
  .qi-slider(
    qiSlider, [min]="1", [max]="volumeCount()",
    [config]="timePointSliderConfig",
    [height]="timePointSliderHeight",
    [value]="volume.number",
    (changed)="onTimePointRequest($event)"
  )

  // The [previous, play, next] buttons.
  qi-player.btn-group-sm.qi-btn-group(
    [value]="volume.number", [cancel]="isError",
    (action)="onTimePointRequest($event)"
  )
