qi-tnm(ng-show='!!pathology.tnm')

qi-hormone-receptor(ng-controller='PathologyEstrogenCtrl' ng-show='!!pathology.estrogen')

qi-hormone-receptor(ng-controller='PathologyProgestrogenCtrl' ng-show='!!pathology.progestrogen')

include include/breast-genetic-expression
