.row.qi-clin-profile-row
    .col-md-12.qi-clin-profile-tile
      .row.qi-clin-profile-tile-header {{ config.header }}
      .row(ng-repeat="row in config.rows")
        .col-md-6.qi-clin-profile-prop-name {{ row.label }}
        .col-md-6 {{ row.accessor(outcome) }}
