h4.col-md-offset-1
  | Clinical Profile
.qi-profile-panel
  accordion
    accordion-group(is-open="config.demogrOpen")
      accordion-heading Demographics
        i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': config.demogrOpen, 'glyphicon-chevron-right': !config.demogrOpen}")
      .row
        .col-md-2
          div.qi-clinical-prop Age
        .col-md-10
          div {{ subject.age }}
      .row
        .col-md-2
          div.qi-clinical-prop Race
        .col-md-10
          div {{ config.races }}
      .row
        .col-md-2
          div.qi-clinical-prop Ethnicity
        .col-md-10
          div {{ config.ethnicity }}
  accordion(ng-repeat="enc in config.encounters")
    accordion-group(is-open="enc.accordion_open")
      accordion-heading {{ enc.encounter_type }}
        i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': enc.accordion_open, 'glyphicon-chevron-right': !enc.accordion_open}")
      .row
        .col-md-2
          div.qi-clinical-prop Date
        .col-md-10
          div {{ enc.date | moment }}
      .row
        .col-md-2
          div.qi-clinical-prop Outcome
        .col-md-10
          div {{ enc.tnmg_score }} {{ enc.cancer_stage }}
          