h4.col-md-offset-1
  | Clinical Profile
.qi-profile-panel
  accordion
    accordion-group(is-open="config.demogrOpen")
      accordion-heading Demographics
        i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': config.demogrOpen, 'glyphicon-chevron-up': !config.demogrOpen}")
      .row
        .col-md-2
          div.qi-clinical-prop Age
        .col-md-10
          div {{ subject.age }}
      .row
        .col-md-2
          div.qi-clinical-prop Race
        .col-md-10
          div {{ config.races }}
      .row
        .col-md-2
          div.qi-clinical-prop Ethnicity
        .col-md-10
          div {{ config.ethnicity }}
  accordion(ng-repeat="enc in config.encounters")
    accordion-group(is-open="enc.accordion_open")
      accordion-heading {{ enc.encounter_type }}
        i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': enc.accordion_open, 'glyphicon-chevron-up': !enc.accordion_open}")
      .row.qi-clin-profile-date-row
        .col-md-1.qi-clin-profile-prop-name {{ enc.date | moment }}
        .col-md-11 10/04/2012
      .row.qi-clin-profile-tile-row
        .col-md-6
          .col-md-12.qi-clin-profile-tile
            .row.qi-clin-profile-tile-header Tumor Staging (TNM)
            .row
              .col-md-6.qi-clin-profile-prop-name Size
              .col-md-6 2
            .row
              .col-md-6.qi-clin-profile-prop-name Lymph Status
              .col-md-6 3
            .row
              .col-md-6.qi-clin-profile-prop-name Metastasis
              .col-md-6 0
            .row
              .col-md-6.qi-clin-profile-prop-name Grade
              .col-md-6 2
        .col-md-6
          .col-md-12.qi-clin-profile-tile
            .row.qi-clin-profile-tile-header Nottingham Grade
            .row
              .col-md-6.qi-clin-profile-prop-name Tubules
              .col-md-6 3
            .row
              .col-md-6.qi-clin-profile-prop-name Nuclei
              .col-md-6 4
            .row
              .col-md-6.qi-clin-profile-prop-name Mitoses
              .col-md-6 4
            .row
              .col-md-6.qi-clin-profile-prop-name Overall
              .col-md-6 11
      .row.qi-clin-profile-tile-row
        .col-md-6
          .col-md-12.qi-clin-profile-tile
            .row.qi-clin-profile-tile-header Estrogen Receptor
            .row
              .col-md-6.qi-clin-profile-prop-name Result
              .col-md-6 positive
            .row
              .col-md-6.qi-clin-profile-prop-name Intensity
              .col-md-6 13%
            .row
              .col-md-6.qi-clin-profile-prop-name Quick Score
              .col-md-6 7
        .col-md-6
          .col-md-12.qi-clin-profile-tile
            .row.qi-clin-profile-tile-header Progesterone Receptor
            .row
              .col-md-6.qi-clin-profile-prop-name Result
              .col-md-6 positive
            .row
              .col-md-6.qi-clin-profile-prop-name Intensity
              .col-md-6 69%
            .row
              .col-md-6.qi-clin-profile-prop-name Quick Score
              .col-md-6 9
      .row.qi-clin-profile-tile-row
        .col-md-6
          .col-md-12.qi-clin-profile-tile
            .row.qi-clin-profile-tile-header Expression
            .row
              .col-md-6.qi-clin-profile-prop-name HER2/neu IHC
              .col-md-6 2+
            .row
              .col-md-6.qi-clin-profile-prop-name HER2/neu FISH
              .col-md-6 positive
            .row
              .col-md-6.qi-clin-profile-prop-name Ki-67
              .col-md-6 78%