h4.col-md-offset-1 Clinical Profile
// Mark up accordian header and demographic content.
.qi-profile-panel
  accordion
    // The open flag set in the controller expands or collapses the group,
    // e.g. config.demogrOpen.
    accordion-group(is-open="config.demogrOpen")
      accordion-heading Demographics
        // The open icon (down => open, up => closed).
        i.pull-right.glyphicon(
          ng-class="{'glyphicon-chevron-down': config.demogrOpen, 'glyphicon-chevron-up': !config.demogrOpen}"
        )
      .row.qi-clinical-row
        .col-md-3.qi-label Age
        .col-md-9 {{ subject.age }}
      .row.qi-clinical-row
        .col-md-3.qi-label Race
        .col-md-9 {{ config.races }}
      .row.qi-clinical-row
        .col-md-3.qi-label Ethnicity
        .col-md-9 {{ config.ethnicity }}

  accordion
    accordion-group(is-open="config.treatmentOpen")
      accordion-heading Treatments
        // The open icon (down => open, up => closed).
        i.pull-right.glyphicon(
          ng-class="{'glyphicon-chevron-down': config.treatmentOpen, 'glyphicon-chevron-up': !config.treatmentOpen}"
        )
      .row.qi-clinical-row
        .col-md-3.qi-label Type
        .col-md-3.qi-label Begin date
        .col-md-6.qi-label End date
      .row(ng-repeat="treatment in config.treatments").qi-clinical-row
        .col-md-2 {{ treatment.treatment_type }}
        .col-md-1(class="{{ treatment.treatmentColorKey }}") &#9830
        .col-md-3 {{ treatment.begin_date | moment }}
        .col-md-6 {{ treatment.display_end_date }}

  // Mark up accordian header and content for each encounter.
  // FIXME - This only supports breast pathology outcomes. See TODO below.
  // Work-around is the repeat filter below, which should be removed when
  // the TODO is done.

  accordion(ng-repeat="enc in config.encounters | filter:{encounter_type: 'Biopsy'}")
    accordion-group(is-open="enc.accordionOpen")
      accordion-heading {{ enc.encounter_type }}
        i.pull-right.glyphicon(
          ng-class="{'glyphicon-chevron-down': enc.accordionOpen, 'glyphicon-chevron-up': !enc.accordionOpen}"
        )
      
      .row.qi-clinical-row
        // The encounter date.
        .col-md-1(class="{{ enc.encounterColorKey }}") &#9826
        .col-md-1.qi-label Date
        .col-md-10 {{ enc.date | moment }}
      
      // Include tiles that display data for each outcome in the encounter.
      .row(ng-repeat="outcome in enc.outcomes")
        .qi-separator-faint
        //
        // TODO - accomodate non-pathology outcomes. Do so by delegating
        // to a quip.subject.detail route view with its own partial and 
        // controller, e.g.:
        //   div(ui-view="outcome._cls | uncapitalize")
        //
        //  where:
        //  * the filter uncapitalizes the leading capitalized letters
        //  * the views are:
        //     breastPathology:
        //       templateUrl: '/partials/breast-pathology.html'
        //       controller:  'BreastPathologyCtrl'
        //     sarcomaPathology:
        //        ...
        //     tnm:
        //        ...
        //     ...
        // * the controllers place the relative objects in scope, e.g.:
        //     $scope.tnm = $scope.outcome.tnm
        // * the partial formats the data, e.g. /partials/breast-pathology.jade is:
        //    .col-md-6.qi-outcome-panel(ng-show="tnm")
        //      div(ui-view='tnm')
        //      div(ui-view='grade')
        //    ...
        //
        // TODO - the outcome tables don't respond gracefully: when the
        // window shrinks, the labels and values stack in one column rather
        // than two.
        //
        // TODO - the outcome table tiles below were modified to minimally
        // support Sarcoma. This is as a stop-gap measure. The clinical
        // content below should be entirely replaced as described above.
        //
        // The left-hand column displays tumor staging and grade information
        // and the right-hand column displays receptor and expression outcomes.
        // A flag set in the controller indicates whether some data exists for
        // staging or grade. If both catgories completely lack data, this
        // column is hidden and the receptor/expression column will float
        // from the right to the left.
        .col-md-6.qi-outcome-panel(ng-show="outcome.isStagingOrGradeData")
          // Tumor staging tile.
          qi-outcome-table(outcome="outcome" group="tnm")
          // Nottingham grade tile.
          qi-outcome-table(outcome="outcome" group="nottingham_grade" ng-show="outcome.tnm.grade._cls == 'NottinghamGrade'")
          // FNCLCCGrade grade tile.
          qi-outcome-table(outcome="outcome" group="fnclcc_grade" ng-show="outcome.tnm.grade._cls == 'FNCLCCGrade'")
        // Column displaying hormone receptor and expression data.
        .col-md-6.qi-outcome-panel(ng-show="outcome._cls == 'BreastPathology'")
          // Estrogen Receptor tile.
          qi-outcome-table(outcome="outcome" group="estrogen")
          // Progesterone Receptor tile.
          qi-outcome-table(outcome="outcome" group="progestrogen")
          // Expression tile.
          qi-outcome-table(outcome="outcome" group="expression")
