h4.col-md-offset-1
  | Clinical Profile
.qi-profile-panel(ng-controller='ClinicalProfileCtrl')
  accordion
    accordion-group(is-open="true")
      accordion-heading Demographics
      .row
        .col-md-2
          div.qi-clinical-prop Age
        .col-md-4
          div {{ config.age }}
      .row
        .col-md-2
          div.qi-clinical-prop Race
        .col-md-4
          div {{ config.race }}
      .row
        .col-md-2
          div.qi-clinical-prop Ethnicity
        .col-md-4
          div {{ config.ethnicity }}
  accordion
    accordion-group(is-open="true")
      accordion-heading Biopsy
      .row
        .col-md-2
          div.qi-clinical-prop Date
      .row
        .col-md-2
          div.qi-clinical-prop Outcome
  accordion
    accordion-group(is-open="true")
      accordion-heading Assessment
      .row
        .col-md-2
          div.qi-clinical-prop Date
      .row
        .col-md-2
          div.qi-clinical-prop Outcome
  accordion
    accordion-group(is-open="true")
      accordion-heading Surgery
      .row
        .col-md-2
          div.qi-clinical-prop Date
      .row
        .col-md-2
          div.qi-clinical-prop Outcome
