// Show the tile only if at least one row of data exists.
.row.qi-clin-element(ng-show="config.rows")
    .col-md-12.qi-clin-tile
      // The tile header.
      .row.qi-clin-tile-header {{ config.label }}
      .row(ng-repeat="row in config.rows")
        // The row label and data.
        .col-md-6.qi-clin-outcome-label {{ row.label }}
        .col-md-6 {{ row.accessor(outcome) }}
