h4.col-md-offset-1
  | Clinical Profile
// Mark up accordian header and demographic content.
.qi-profile-panel
  accordion
    // The open flag set in the controller expands or collapses the group,
    // e.g. config.demogrOpen.
    accordion-group(is-open="config.demogrOpen")
      accordion-heading Demographics
        // The open icon (down => open, up => closed).
        i.pull-right.glyphicon(
          ng-class="{'glyphicon-chevron-down': config.demogrOpen, 'glyphicon-chevron-up': !config.demogrOpen}"
        )
      .row.qi-clin-element
        .col-md-2.qi-clin-element-label Age
        .col-md-10 {{ subject.age }}
      .row.qi-clin-element
        .col-md-2.qi-clin-element-label Race
        .col-md-10 {{ config.races }}
      .row.qi-clin-element
        .col-md-2.qi-clin-element-label Ethnicity
        .col-md-10 {{ config.ethnicity }}
  // Mark up accordian header and content for each encounter.
  accordion(ng-repeat="enc in config.encounters")
    accordion-group(is-open="enc.accordion_open")
      accordion-heading {{ enc.encounter_type }}
        i.pull-right.glyphicon(
          ng-class="{'glyphicon-chevron-down': enc.accordion_open, 'glyphicon-chevron-up': !enc.accordion_open}"
        )
      .row.qi-clin-element
        // The encounter date.
        .col-md-1.qi-clin-element-label Date
        .col-md-11 {{ enc.date | moment }}
      // Include tiles that display data for each outcome in the encounter.
      .row(ng-repeat="outcome in enc.outcomes")
        .qi-separator-faint
        // The left-hand column displays tumor staging and grade information
        // and the right-hand column displays receptor and expression outcomes.
        // A flag set in the controller indicates whether some data exists for
        // staging or grade. If both catgories completely lack data, this
        // column is hidden and the receptor/expression column will float
        // from the right to the left.
        .col-md-6.qi-clin-col(ng-show="outcome.is_staging_or_grade_data")
          // Tumor staging tile.
          qi-clinical-profile-tile(outcome="outcome" tile="tnm")
          // Nottingham grade tile.
          qi-clinical-profile-tile(outcome="outcome" tile="grade")
        // Column displaying hormone receptor and expression data.
        .col-md-6.qi-clin-col
          // Estrogen Receptor tile.
          qi-clinical-profile-tile(outcome="outcome" tile="estrogen")
          // Progesterone Receptor tile.
          qi-clinical-profile-tile(outcome="outcome" tile="progestrogen")
          // Expression tile.
          qi-clinical-profile-tile(outcome="outcome" tile="expression")
