extends ../layout/partial

block billboard
  | {{ collection }} Collection

// FIXME - Brush select does not shrink the unselected points as much as
// it used to.
block content
  //
  // TODO - scrolling is disabled when the cursor focus is within a chart.
  //  Can this be fixed?
  //
  // The subject/session table and chart.
  .qi-collection-charts(qi-collection-charts)
  .row.qi-subject-charts
    .col-md-2.qi-profile-panel.qi-subject-table#qi-subject-table
    .col-md-10#qi-subject-chart
  // The collection charts. For each chart, construct the X and Y axis data
  // series dropdowns and create a container for the chart.
  .row
    .col-md-6(ng-repeat="chartAxes in axes")
      // TODO - scooch the dropdowns over to the right, or perhaps
      //   center them over their respective chart.
      //   Was this done? If so, delete the comment.
      .row.col-md-offset-2
        include include/collection-dropdowns
      .row
        .col-md-12.qi-collection-chart(id="qi-collection-chart-{{ $index + 1 }}")

block help-text
  // The nested quote ensures evaluation to a string rather than
  // a scope variable.
  .qi-help-text(ng-include="'/partials/help/collection-detail.html'")
