extends ../layout/partial

block billboard
  | {{ collection }} Collection

block content
  // TODO - wrap these charts in a panel?
  div.qi-correlation-charts(qi-correlation-charts)
  .row
    .col-md-6(ng-repeat="chart in charts track by $index")
      .row.qi-axis-dropdowns
        .col-md-3.col-md-offset-2
          .qi-dropdown.qi-x-axis-dropdown
            button.qi-dropbtn
              span.qi-xy X
              span {{ chart.xLabel }}
              span.qi-caret.caret
            .qi-dropdown-content
              a(ng-repeat="choice in choices") {{ choice }}
        .col-md-3
          .qi-dropdown.qi-y-axis-dropdown
            button.qi-dropbtn
              span.qi-xy Y
              span {{ chart.yLabel }}
              span.qi-caret.caret
            .qi-dropdown-content
              a(ng-repeat="choice in choices") {{ choice }}
      .row   
        .col-md-12.qi-correlation-chart(id="qi-correlation-chart-{{ $index }}")

block help-text
  // The nested quote ensures evaluation to a string rather than
  // a scope variable.
  .qi-help-text(ng-include="'/partials/help/subject-list.html'")
