include include/accordion-heading-mixin

+accordion-heading('Demographics')

table.qi-table
  tr
    th.col-md-2 Age
    td.col-md-10 {{ subject.birthDate | age }}
  tr
    th.col.col-md-2 Race
    td.col.col-md-10 {{ subject.races | races }}
  tr
    th.col.col-md-2 Ethnicity
    td.col.col-md-10 {{ subject.ethnicity | ethnicity }}
