accordion
  // The open flag set in the controller expands or collapses the group.
  accordion-group(is-open="open")
    accordion-heading Demographics
      // The open icon (down => open, up => closed).
      i.pull-right.glyphicon(
        ng-class="{'glyphicon-chevron-down': open, 'glyphicon-chevron-up': !open}"
      )
    .row.qi-clinical-row
      .col-md-2 Age
      .col-md-10 {{ subject.birthDate | age }}
    .row.qi-clinical-row
      .col-md-2 Races
      .col-md-10 {{ subject.races | races }}
    .row.qi-clinical-row
      .col-md-2 Ethnicity
      .col-md-10 {{ subject.ethnicity | ethnicity }}
