.qi-subtable-title FNCLCC Grade

table.qi-table
  tr
    th.col-md-2 Differentiation
    td.col-md-10 {{ grade.differentiation }}
  tr
    th.col-md-2 Mitotic Count
    td.col-md-10 {{ grade.mitoticCount }}
  tr
    th.col-md-2 Necrosis
    td.col-md-10 {{ grade.necrosis }}
