extends ../layout/partial

include include/accordion-heading-mixin

block billboard
  | {{ image.volume.container.session.subject.collection | capitalize }}
  | Patient {{ image.volume.container.session.subject.number }}
  | Session {{ image.volume.container.session.number }}
  | {{ image.volume.container.title }}
  | Volume {{ image.volume.number }}

block content
  qi-image
    body
      div
        input#toggle-overlay(type='checkbox')
        | &nbsp;Show Overlay
      .row#qi-slide
        .col-md-1 Opacity
        .col-md-1#opacityValue {{ overlayOpacity | percentRounded }}%
        .col-md-2
          input(type='range', min='0', max='1', step='0.01', ng-model='overlayOpacity', ng-change="overlayOpacityStyle={'opacity':overlayOpacity}")
        .col-md-8
      div
        input#toggle-modality-lut(type='checkbox')
        | &nbsp;Apply Modality LUT&nbsp;
        input#toggle-voi-lut(type='checkbox')
        | &nbsp;Apply VOI LUT
      #qi-image-container
        #qi-dicom-image.cornerstone-enabled-image(oncontextmenu='return false', unselectable='on', onselectstart='return false;', onmousedown='return false;')
        #qi-overlay.cornerstone-enabled-image(ng-style='overlayOpacityStyle', oncontextmenu='return false', unselectable='on', onselectstart='return false;', onmousedown='return false;')
 
  // Note: The overlays and image controls are disabled here. A demo image is
  //   rendered with Cornerstone instead.
  
  // The modeling parameter overlay select.
  //include include/image-overlay-select
  // The image display.
  //qi-image.qi-panel.qi-image
    // The opacity, axis and threshold image controls.
    //include include/image-controls
    // TODO - add an orientation button in the bottom right
    // that restores the XTK volume to its original
    // orientation. Use the glyphicon-record for the button.

block help-text
  // The nested quote ensures evaluation to a string rather than
  // a scope variable.
  .qi-help-text(ng-include="'/partials/help/image-detail.html'")
