extends ../layout/partial

include include/accordion-heading-mixin

block billboard
  | {{ image.parent.session.subject.collection | capitalize }}
  | Patient {{ image.parent.session.subject.number }}
  | Session {{ image.parent.session.number }}
  | {{ image.parent | imageContainerTitle }}
  | Time Point {{ image.timePoint }}

block content
  // The modeling parameter overlay select.
  include include/image-overlay-select
  // The image display.
  qi-image.qi-panel.qi-image
    // The opacity, axis and threshold image controls.
    include include/image-controls

block help-text
  // The nested quote ensures evaluation to a string rather than
  // a scope variable.
  .qi-help-text(ng-include="'/partials/help/image-detail.html'")
