extends ../layout/partial

include include/accordion-heading-mixin

block billboard
  | {{ image.volume.container.session.subject.collection | capitalize }}
  | Patient {{ image.volume.container.session.subject.number }}
  | Session {{ image.volume.container.session.number }}
  | {{ image.volume.container.title }}
  | Volume {{ image.volume.number }}

block content
  qi-image
    .row
      .col-xs-2
        ul.list-group
          a#playClip.list-group-item(href='#') Play Clip
          a#stopClip.list-group-item(href='#') Stop Clip
        label Loop
        input#loop(type='checkbox', checked='')
        input#slice-range(type='range')
      .col-xs-6
        .cornerstone-enabled-image(style='width:512px;height:512px;position:relative;display:inline-block;color:white;', oncontextmenu='return false', unselectable='on', onselectstart='return false;', onmousedown='return false;')
          #dicomImage(style='width:512px;height:512px;top:0px;left:0px; position:absolute;')
            #mrtopleft(style='position: absolute;top:3px; left:3px')
              | Patient Name
            #mrtopright(style='position: absolute;top:3px; right:3px')
              | Hospital
            #mrbottomright(style='position: absolute;bottom:6px; right:3px')
              #frameRate
              #zoomText Zoom: 
              #sliceText Image: 
            #mrbottomleft(style='position: absolute;bottom:3px; left:3px')
              | WW/WC:
  // The modeling parameter overlay select.
  //include include/image-overlay-select
  // The image display.
  //qi-image.qi-panel.qi-image
    // The opacity, axis and threshold image controls.
    //include include/image-controls
    // TODO - add an orientation button in the bottom right
    // that restores the XTK volume to its original
    // orientation. Use the glyphicon-record for the button.

block help-text
  // The nested quote ensures evaluation to a string rather than
  // a scope variable.
  .qi-help-text(ng-include="'/partials/help/image-detail.html'")
