
extends ../layout/partial

block billboard
  | {{ image.parent.session.subject.collection | capitalize }}
  | Patient {{ image.parent.session.subject.number }}
  | Session {{ image.parent.session.number }}
  | {{ image.parent.title }}
  | Time Point {{ image.timePoint }}

block content
  .qi-image-background
    qi-series-image.col-md-9.qi-series-image(image='image')
      .qi-image-ctl
        accordion
          accordion-group(is-open="true")
            accordion-heading Overlay
            .btn-group.qi-overlay-select
              button.btn.btn-primary(btn-radio='1' ng-model='image') FXR K<sup>trans</sup>
              button.btn.btn-primary(btn-radio='2' ng-model='image') FXL K<sup>trans</sup>
              button.btn.btn-primary(btn-radio='3' ng-model='image') &Delta;K<sup>trans</sup>
              button.btn.btn-primary(btn-radio='4' ng-model='image') V<sub>e</sub>
              button.btn.btn-primary(btn-radio='5' ng-model='image') tau<sub>i</sub>
        accordion
          accordion-group(is-open="true")
            accordion-heading Opacity
            slider(floor='0' ceiling='1' precision='0.1' ng-model='image.volume.opacity')
        accordion
          accordion-group(is-open="true")
            accordion-heading Slices
            .row
              .col-md-3 Sagittal
              .col-md-9
                slider(floor='0' ceiling='319' precision='1')
            .row   
              .col-md-3 Coronal
              .col-md-9
                slider(floor='0' ceiling='319' precision='1')
            .row
              .col-md-3 Axial
              .col-md-9
                slider(floor='0' ceiling='319' precision='1')
        accordion
          accordion-group(is-open="true")
            accordion-heading Thresholding
            .row   
              .col-md-3 Lower
              .col-md-9
                slider(floor='0' ceiling='445' precision='1')
            .row
              .col-md-3 Upper
              .col-md-9
                slider(floor='0' ceiling='445' precision='1')

block help-text
  // The nested quote ensures evaluation to a string rather than
  // a scope variable.
  .qi-help-text(ng-include="'/partials/help/image-detail.html'")
