extends ../layout/partial

include include/accordion-heading-mixin

block billboard
  | {{ image.volume.container.session.subject.collection | capitalize }}
  | Patient {{ image.volume.container.session.subject.number }}
  | Session {{ image.volume.container.session.number }}
  | {{ image.volume.container.title }}
  | Volume {{ image.volume.number }}

block content
  qi-image
    #dicomImage(style='width:512px;height:512px;')

  // Note: The overlays and image controls are disabled here. A demo image is
  //   rendered with Cornerstone instead.
  
  // The modeling parameter overlay select.
  //include include/image-overlay-select
  // The image display.
  //qi-image.qi-panel.qi-image
    // The opacity, axis and threshold image controls.
    //include include/image-controls
    // TODO - add an orientation button in the bottom right
    // that restores the XTK volume to its original
    // orientation. Use the glyphicon-record for the button.

block help-text
  // The nested quote ensures evaluation to a string rather than
  // a scope variable.
  .qi-help-text(ng-include="'/partials/help/image-detail.html'")
