// Display the input properties sheet.
.modal-header
  h3.modal-title Modeling Input Parameters
  .modal-body
    | Source: {{ modelingInfo.source | expandRegistrationName }}
    ul
      li One
      li Two
  .modal-footer
     button.btn btn-primary(ng-click="ok()")
      OK
    button.btn.btn-warning(ng-click="cancel()")
     Cancel
