// Display the input properties sheet.
.qi-modal
  .modal-header
    .modal-title Modeling {{ modeling.key }}

  .modal-body
    table.qi-table.qi-modal-table.qi-spaced-table
      tr
        th Source
        td
          | {{ modeling.source | modelingSourceTitle }}
          // If the modeling source is a registration configuration,
          // then show a button that displays the registration
          // parameters.
          button.btn.btn-med.qi-profile-btn(ng-show="modeling.source._cls == 'Configuration'"
                                            ng-click="open()"
                                            ng-controller='RegistrationInfoCtrl')
            .glyphicon.glyphicon-info-sign()
        
      tr(ng-repeat="(name, value) in modeling.inputParameters")
        th {{ name | underscore }}
        td {{ value }}

  .modal-footer
    button.btn.btn-warning.cancel(qi-focus='true' ng-click="close()") Close
