.qi-modal
  .modal-header
    .modal-title Pharmokinetic Modeling

  .modal-body
    div(ng-include="'/partials/help/pk-modeling.html'")

  .modal-footer
    button.btn.btn-warning.cancel(qi-focus='true' ng-click="close()") Close
