.qi-modal
  .modal-header
    .modal-title Recurrence Score

  .modal-body
    div(ng-include="'/partials/help/recurrence-score.html'")

  .modal-footer
    button.btn.btn-warning.cancel(qi-focus='true' ng-click="close()") Close
