// Display the registration properties sheet.
.qi-popup
  .modal-header
    .modal-title Registration Protocol

  .modal-body
    table.table.table.qi-table.qi-modal-table.qi-spaced-table
      tr
        th Technique
        td {{ protocol.technique }}
  
    .qi-panel.qi-nested
      table.table.table.qi-table.qi-modal-table.qi-spaced-table
        caption.qi-inset-title Parameters
        tr(ng-repeat="(name, value) in protocol.parameters")
          th {{ name | underscore }}
          td {{ value }}

  .modal-footer
    button.btn.btn-warning.cancel(qi-focus='true' ng-click="close()") Close
