// Display the scan protocol properties sheet.
.qi-modal
  .modal-header
    .modal-title Scan Protocol

  .modal-body
    table.table.qi-table.qi-modal-table.qi-spaced-table
      tr
        th Scan Type
        td {{ protocol.scanType }}
      tr(ng-show="protocol.orientation")
        th Orientation
        td {{ protocol.orientation | capitalize }}
      tr(ng-show="protocol.technique")
        th Technique
        td {{ protocol.technique }}
      tr(ng-show="protocol.description")
        th Description
        td {{ protocol.description }}

  .modal-footer
    button.btn.btn-warning.cancel(qi-focus='true' ng-click="close()") Close

