extends ../layout/partial

block billboard
  | {{ session.subject.collection | capitalize }}
  | Patient {{ session.subject.number }}
  | Session {{ session.number }}

block content
  .qi-session-detail
    .row
      h4.col-md-offset-1.col-md-3.qi-chart-title Average Signal Intensity
    qi-intensity-chart(session="session")
    include include/image-selection


block help-text
  // The nested quote ensures evaluation to a string rather than
  // a scope variable.
  .qi-help-text(ng-include="'/partials/help/session-detail.html'")
