extends ../layout/partial

block billboard
  | {{ session.subject.collection | capitalize }} Patient {{ session.subject.number }} Session {{ session.number }}


block content
  include include/intensity_chart
  
  .qi-series-selection
    // The scan image selection buttons.
    .row
      .col-md-1.qi-series-selection-key Scan
      .btn-group.qi-image-btn-grp(ng-repeat="image in session.scan.images")
        .qi-scan-image
          include include/image_select
        
    // The realigned image selection buttons.
    .row
      .col-md-1.qi-series-selection-key Realigned
      .btn-group.qi-image-btn-grp(ng-repeat="image in session.registration.images")
        .qi-reg-image
          include include/image_select


block help-text
  .qi-help-text(ng-include="'/partials/help/session_detail.html'")
