extends ../layout/partial

block billboard
  | {{ session.subject.collection | capitalize }} Patient {{ session.subject.number }} Session {{ session.number }}


block content
  include include/intensity-chart
  
  .qi-image-selection
    // The scan image selection buttons.
    .row
      .col-md-1.qi-image-selection-key Scan
      .btn-group.qi-scan-image-btn-group(ng-repeat="image in session.scan.images")
        include include/image-select
        
    // The realigned image selection buttons.
    .row
      .col-md-1.qi-image-selection-key Realigned
      .btn-group.qi-reg-image-btn-group(ng-repeat="image in session.registration.images")
        include include/image-select


block help-text
  .qi-help-text(ng-include="'/partials/help/session-detail.html'")
