extends ../layout/partial

// TODO - the model should be a timeSeries, not a volume.
block billboard
  | {{ timeSeries.title }}

block content
  // The modeling parameter overlay select.
  //
  // TODO - add a Loading... indicator.
  //
  // TODO - load the overlays synchronously with the image.
  //
  // TODO - show the panels first, then load the image and
  //   overlays.
  //
  // TODO - enable overlay.
  //- include include/overlay-select
  //
  // TODO - create volume and slice axis sliders in a new file
  //   slice-controls.jade, perhaps using the Session Detail
  //   volume-controls.jade as a basis--but justifying and
  //   simplifying every part of the file (i.e. not just a
  //   copy). Then uncomment the lines below.
  //- // The selection and rendering image controls.
  //- include include/slice-controls
  //
  // TODO - nav using the following panels to the right of the
  //   image:
  //   * Orientation - the slice axis: SI, AP or LR
  //   * Time Point - the volume number
  //   The nav should include left, slider, right and play.
  //   Update the help accordingly.
  //
  // Display the slice
  .qi-slice-display
    // The Cornerstone image viewport.
    // TODO - document the attributes below. Are they necessary?
    //   Remove any defaults.
    #qi-slice-image.cornerstone-enabled-image(
      oncontextmenu='return false' unselectable='on'
      onselectstart='return false' onmousedown='return false'
    )
    // TODO - enable the overlay.
    // TODO - there might not be an overlay. What happens then?
    //   Should the element be conditionally included?
    //- // The Cornerstone overlay viewport. The overlay is placed
    //- // in front of the image viewport using CSS.
    //- #qi-slice-overlay.cornerstone-enabled-image(
    //-   oncontextmenu='return false' unselectable='on'
    //-   onselectstart='return false' onmousedown='return false'
    //-   ng-style='overlayConfig.style'
    //- )

block help-text
  // The nested quote ensures evaluation to a string rather than
  // a scope variable.
  .qi-help-text(ng-include="'/partials/help/slice-display.html'")
