extends ../layout/partial

block billboard
  | {{ subject.collection | capitalize }} Patient {{ subject.number }}

block content
  .col-md-6.qi-modeling-profile
    include include/imaging-profile

  .col-md-6.qi-clinical-profile
    include include/clinical-profile

block help-text
  // The nested quote ensures evaluation to a string rather than
  // a scope variable.
  .qi-help-text(ng-include="'/partials/help/subject-detail.html'")
