extends ../layout/partial

block billboard
  | {{ subject.collection | capitalize }} Patient {{ subject.number }}

block content
  .col-md-6.qi-modeling-profile
    h4.row.col-md-offset-1
      | Imaging Profile
      button.btn.btn-med.qi-profile-btn(
        ng-show='subject.isMultiSession'
        ng-click='toggleModelingFormat()'
      )
        .glyphicon.glyphicon-list(ng-show="modelingFormat == 'Chart'")
        .glyphicon.glyphicon-picture(ng-show="modelingFormat == 'Table'")
    .qi-profile-panel
      // The session list formatted as a dateline.
      h5.col-md-offset-5 MR Visits
      qi-visit-dateline(data='subject.sessions')
      // The modeling chart or tables.
      #qi-modeling-chart(ng-show="modelingFormat == 'Chart'")
        include include/modeling-charts
      #qi-modeling-chart(ng-show="modelingFormat == 'Table'")
        qi-modeling-table(data='subject.sessions')

  .col-md-6.qi-clinical-profile
    include include/clinical_profile


block help-text
  // The nested quote ensures evaluation to a string rather than
  // a state variable.
  .qi-help-text(ng-include="'/partials/help/subject-detail.html'")
