extends ../layout/partial

block billboard
  | Patients

block content
  div(ng-repeat='coll in collections')
    h3 {{ coll }}
    ul.qi-main-list(ng-repeat="sbj in subjects | filter: {collection: coll} | orderBy:'number'")
      li
        a(ui-sref="quip.subject.detail({project: sbj.project, collection: sbj.collection.toLowerCase(), subject: sbj.number, detail: sbj.detail})")
          | Patient {{ sbj.number }}

block help-text
  // The nested quote ensures evaluation to a string rather than
  // a scope variable.
  .qi-help-text(ng-include="'/partials/help/subject-list.html'")
  .qi-contact-info.ng-scrollbar(ng-include="'/partials/help/contact-info.html'")