extends ../layout/partial

block billboard
  | Patients

block content
  div(ng-repeat='collection in collections')
    h3 {{ collection }}
    ul.qi-main-list
      li(ng-repeat="subject in subjects | filter: {collection: collection} | orderBy:'number'")
        // TODO - should id: subject._id be subjectdetail: subject.detail? Is there a subject._id? 
        a(ui-sref="quip.collection.subject({project: subject.project, collection: subject.collection.toLowerCase(), subject: subject.number, id: subject._id})")
          | Patient {{ subject.number }}

block help-text
  // The nested quote ensures evaluation to a string rather than
  // a scope variable.
  .qi-help-text(ng-include="'/partials/help/subject-list.html'")
