.qi-subtable-title TNM

.qi-panel.qi-nested(ng-controller='TNMCtrl')
  table.qi-table
    tr
      th.col-md-2 Stage
      td.col-md-10 {{ tnm | tnmStage | romanize }}

  .qi-bottom-buffer(ng-show='!!tnm.grade')
    qi-grade

  table.qi-table.qi-spaced-table
    tr
      th.col-md-2 Size
      td.col-md-10 {{ tnm.size | tnmSize }}
    tr
      th.col-md-2 Lymph Status
      td.col-md-10 {{ tnm.lymphStatus | notSpecified }}
    tr
      th.col-md-2 Metastasis
      td.col-md-10 {{ tnm.metastasis | presentAbsent }}
