
extends ../layout/partial

include include/accordion-heading-mixin

block billboard
  | {{ volume.container.session.subject.collection | capitalize }}
  | Patient {{ volume.container.session.subject.number }}
  | Session {{ volume.container.session.number }}
  | {{ volume.container._cls }}
  | Volume {{ volume.number }}

block content
  // The modeling parameter overlay select.
  include include/image-overlay-select
  // The image display.
  qi-image.qi-panel.qi-image
    // The opacity, axis and threshold image controls.
    include include/image-controls

block help-text
  // The nested quote ensures evaluation to a string rather than
  // a scope variable.
  .qi-help-text(ng-include="'/partials/help/volume.html'")

