// TODO - following successful introduction of the Slice Display,
// create a volume-display branch to preserve the XTK variant and
// delete all volume files and references from the master branch.

extends ../layout/partial

include include/accordion-heading-mixin

block billboard
  | {{ imageSequence.session.subject.collection | capitalize }}
  | Patient {{ imageSequence.session.subject.number }}
  | Session {{ imageSequence.session.number }}
  | {{ imageSequence.title }}
  | Volume {{ volume.number }}

block content
  // The modeling parameter overlay select.
  include include/overlay-select
  // The image display.
  qi-volume-display.qi-panel.qi-image
    // The opacity, axis and threshold image controls.
    include include/volume-controls

block help-text
  // The nested quote ensures evaluation to a string rather than
  // a scope variable.
  .qi-help-text(ng-include="'/partials/help/volume-display.html'")
