extends ../layout/partial

block billboard
  | {{ subject.title }}

block content
  .col-md-7
    //- .qi-center
    //-   include include/imaging-profile
  .col-md-5
    .qi-center
      include include/clinical-profile
