extends ../layout/partial

block billboard
  | {{ subject.title }}

block content
  ul.qi-main-list
    li(*ngFor="let session of subject.sessions", (click)="visitSession(session)")
      | {{ session.number }}
