// The session list formatted as a timeline.
.panel.panel-default
  .panel-heading
    h4.panel-title MR Visit Timeline
  .panel-body
    .row.qi-chart-row(ng-controller='TimelineCtrl')
      nvd3(options='options' data='data' config='config' on-ready='decorate')
