extends ../layout/partial

block billboard
  | Collections

block content
  p(*ngIf="isEmpty() | async")
    | The {{ project }} collection {{ collections.length }} does not have any visits.
  ul.qi-main-list
    li(*ngFor="let collection of collections | async")
      qi-collection-item([collection]="collection")
