extends ../layout/partial

block billboard
  | Collections

block content
  ul.qi-main-list
    p(*ngIf="isEmpty() | async")
      | The {{ project }} collection {{ collections.length }} does not have any visits.
    li(*ngFor="let coll of collections | async")
      qi-collections-collection([collection]="coll")
