extends ../layout/partial

block billboard
  | {{ project }} Collections

block content
  p(*ngIf="isEmpty")
    | The {{ project }} does not have any collections.
  ul.qi-main-list
    li(*ngFor="let collection of collections")
      qi-collection-item([collection]="collection")
