.qi-popup.qi-help(*ngIf="showHelp", (close)="toggleHelp()")
  i.fa.fa-remove.qi-popup-close((click)="toggleHelp()")
  qi-collections-help-text.qi-help-text
  .qi-contact-info
    | We welcome your questions and comments placed in our
    a(href="http://qiprofile.idea.informer.com")
      span.qi-emphasis Sugg/Qu
      | estion Box
    | .
