qi-property-table.qi-y-spacer(
  *ngIf="has(tumor.extent)",
  [object]="tumor.extent",
  [title]="'Tumor Extent (mm)'"
)

.qi-y-spacer(*ngIf="has(tumor.tnm)")
  include tnm

.qi-y-spacer(*ngIf="has(tumor.hormoneReceptors)")
  include breast-hormone-receptors

.qi-y-spacer(*ngIf="has(tumor.geneticExpression)")
  include breast-genetic-expression

.qi-y-spacer(*ngIf="has(tumor.rcb)")
  include breast-rcb
