// Add a little space between the title and the help button.
span.qi-table-title.qi-right-space Residual Cancer Burden
button.btn.qi-btn.qi-minihelp-btn(
  (click)="openRCBHelp()"
)
  .glyphicon.glyphicon-question-sign

.qi-panel.qi-nested
  // RCB index and class.
  table.table.qi-table.qi-spaced-table(*ngIf="has(tumor.rcb.index)")
    tr
      th Index
      td {{ tumor.rcb.index | number:'1.2-2' }}
    tr
      th Class
      td {{ tumor.rcb.class }}
  // RCB parameters.
  qi-property-table.qi-spaced-table(
    [object]="tumor.rcb", [exclude]=['tumor'], [label]="label",
    [path]="'subject.biopsy.pathology.tumors[0].rcb'",
  )
