// The Breast RCB help button.
button.btn.btn-secondary.qi-btn.qi-minihelp-btn(
  type='button',
  [ngbPopover]="help",
  popoverTitle='Breast RCB Help',
  container='body',
  placement='left'
)
  i.fa.fa-question-circle
<template #help>
  p
    | The Breast Residual Cancer Burden (RCB) measures residual disease
    | after neodjuvant therapy. This prognostic indicator is based on the
    | post-treatment surgical resection specimen node densities and counts.
    | The summary <strong>Index</strong> and <strong>Class</strong> are
    | calculated as described in
    | <a href='http://ascopubs.org/doi/abs/10.1200/JCO.2007.10.6823'
    |    target='_blank'>
    |   JCO 25:28 4414-4422
    | </a>.
</template>
