span.qi-table-title Chemotherapy

.qi-panel.qi-table-panel
  .qi-y-spacer(*ngFor="let dosage in chemotherapy.dosages")
    table.table.qi-table
      tr
        th Drug Name
        td {{ dosage.agent.name | capitalize }}
      tr
        th Start Date
        td {{ dosage.startDate | moment }}
      tr
        th Amount
        td {{ dosage.amount | number:1 }} mg/kg
        td.qi-transparent
          button.btn.qi-btn.qi-minihelp-btn(ng-controller='DosageAmountHelpCtrl',
            ng-click="open()"
            )
            i.fa.fa-question-circle
      tr
        th Duration
        td {{ dosage.duration }} days
