span.qi-table-title Chemotherapy
include chemotherapy-help

.qi-panel.qi-table-panel
  .qi-y-spacer(*ngFor="let dosage of treatment.chemotherapy")
    table.table.qi-table
      tr
        th Drug Name
        td {{ dosage.agent.name | capitalize }}
      tr
        th Start Date
        td {{ dosage.startDate | moment }}
      tr
        th Amount
        td {{ dosage.amount | number:'1.0-2' }} mg/kg
      tr
        th Duration
        td {{ dosage.duration }} days
