.qi-panel.qi-table-panel
  table.table.qi-table.qi-spaced-table.qi-y-spacer
    tr
      th Date
      td {{ encounter.date | moment }}

    tr(*ngIf="has(encounter.weight)")
      th Patient Weight
      td {{ encounter.weight }}

  .qi-y-spacer(*ngIf="encounter.pathology")
    include pathology-report
