h4.qi-profile-heading Clinical Profile
.qi-panel
  ngb-accordion
    //- // The demographics table.
    //- ngb-panel(title='Demographics')
    //-   template(ngbPanelContent)
    //-     include demographics
    //-
    //- // The encounter tables.
    //- ngb-panel(
    //-   *ngFor="let encounter of subject.clinicalEncounters"
    //-   [title]="encounter.title"
    //- )
    //-   template(ngbPanelContent)
    //-     include clinical-encounter
    //-
    //- TODO - enable.
    //- // The treatments tables.
    //- accordion-group(*ngFor="let treatment in subject.treatments",
    //-   [heading]="treatment.title", [isOpened]=true
    //- )
    //-   include treatment
