h5.ml-2.qi-title Clinical Profile

ngb-accordion(
  #acc='ngbAccordion',
  [activeIds]="clinicalHtmlIdsSequence",
  (panelChange)="onPanelChange($event)"
)
  include demographics

  include clinical-encounters
  
  include treatments
