// If multiple tumors exist, display a title for each tumor and
//   place its content in a nested panel.
div(*ngFor="let tumor of encounter.pathology.tumors; let i = index")
  div([ngSwitch]="encounter.pathology.tumors.length")
    div(*ngSwitchCase=1)
      include tumor
    // Work around the following PUG bug:
    // * PUG translates:
    //     div(*ngSwitchDefault)
    //   as:
    //     <div *ngSwitchDefault="*ngSwitchDefault"
    //   which results in an 'Unexpected *' Angular error.
    //   The work-around is to add a dummy assignment, i.e.:
    //     div(*ngSwitchDefault='')
    div(*ngSwitchDefault='')
      span.qi-table-title Tumor {{ i + 1 }}
      .qi-panel.qi-nested
        include tumor
