span.qi-table-title Radiotherapy

.qi-panel.qi-nested
  .qi-vertical-space(*ngFor="let dosage in radiotherapy.dosages")
    table.table.qi-table
      tr
        th Beam Type
        td {{ dosage.agent.beam_type | capitalize }}
      tr
        th Start Date
        td {{ dosage.start_date | moment }}
      tr
        th Amount
        td {{ dosage.amount | number:1 }} Gy/kg
        td.qi-transparent
          button.btn.qi-btn.qi-minihelp-btn(ng-controller='DosageAmountHelpCtrl',
            ng-click="open()"
            )
            i.fa.fa-question-circle
      tr
        th Duration
        td {{ dosage.duration }} days
