// The radiotherapy help button.
button.btn.btn-secondary.qi-btn.qi-minihelp-btn(
  type='button',
  [ngbPopover]="help",
  popoverTitle='Radiotherapy Help',
  container='body',
  placement='left'
)
  i.fa.fa-question-circle
<ng-template #help>
  p
  | The <strong>Amount</strong> is the total dosage over all cycles
  | within the duration. Radiotherapy drug amounts are in Greys
  | per kilogram patient weight.
</ng-template>
