span.qi-table-title Radiotherapy
include radiotherapy-help

.qi-panel.qi-table-panel
  .qi-y-spacer(*ngFor="let dosage in treatment.radiotherapy")
    table.table.qi-table
      tr
        th Beam Type
        td {{ dosage.agent.beam_type | capitalize }}
      tr
        th Start Date
        td {{ dosage.start_date | moment }}
      tr
        th Amount
        td {{ dosage.amount | number:'1.0-2' }} Gy/kg
      tr
        th Duration
        td {{ dosage.duration }} days
