// The tumor site and histology.
table.table.qi-table
  tr(*ngIf="has(tumor.location)")
    th Site
    td {{ tumor.location | sarcomaTumorLocation }}

  tr(*ngIf="has(tumor.histology)")
    th Histology
    td {{ tumor.histology }}

// The tumor extent partial.
qi-property-table.mt-2.qi-y-spacer(
  *ngIf="has(tumor.extent)",
  [object]="tumor.extent",
  [title]="'Tumor Extent (mm)'"
)

// The TNM partial.
.qi-y-spacer(*ngIf="has(tumor.tnm)")
  include tnm

// The necrosis percent partial.
.qi-y-spacer(*ngIf="has(tumor.necrosis_percent)")
  include necrosis-percent
