span.qi-table-title TNM

.qi-panel.qi-table-panel
  table.table.qi-table
    tr
      th Stage
      td {{ tumor.tnm | tnmStage | romanize }}
      td.qi-transparent
        button.btn.qi-btn.qi-minihelp-btn(
          (click)="openTNMStageHelp()"
        )
          i.fa.fa-question-circle

  .mt-2(*ngIf="has(tumor.tnm.grade)")
    include grade

  table.table.qi-table.mt-2
    tr
      th Size
      td {{ tumor.tnm.size | tnmSize }}
    tr
      th Lymph Status
      td {{ tumor.tnm.lymphStatus | unspecified }}
    tr
      th Metastasis
      td {{ tumor.tnm.metastasis | boolean:'Present':'Absent' }}
