table.table.qi-table
  // Vertically align the date (label, value) pairs with separation.
  tr
    th Start Date
    td {{ treatment.startDate | moment }}
    // A spacer pseudo-column.
    td.qi-transparent
    th End Date
    td {{ treatment.endDate | moment }}

// The chemotherapy partial.
.mt-2(*ngIf="chemotherapy")
  include chemotherapy

// The radiotherapy partial.
.mt-2(*ngIf="radiotherapy")
  include radiotherapy
