table.table.qi-table
  // Vertically align the date (label, value) pairs with separation.
  tr
    th Start Date
    td {{ treatment.startDate | moment }}
    th End Date
    td {{ treatment.endDate | moment }}

// The chemotherapy partial.
.mt-2(*ngIf="has(treatment.chemotherapy)")
  include chemotherapy

//- // The radiotherapy partial.
//- .mt-2(*ngIf="has(treatment.radiotherapy)")
//-   include radiotherapy
