//** The base CSS style overrides. **//

body
  margin 1em
  font-family 'Open Sans', sans-serif

h1, h2, h3
  margin 0
  padding 0

a
  text-decoration none
  color Peru
  &:hover
    color Chocolate
    cursor pointer
  & img
    border none
  & > text
    fill Peru
  &:hover > text
    fill Chocolate
    text-decoration none

// Overwrite the bootstrap accordian panel heading style
// to emulate the preceding hyperlink style.
.panel-heading
  & a
    color Peru
    &:hover
      color Chocolate
      text-decoration none

// Overwrite the bootstrap panel heading background color.
.panel-default > .panel-heading
  background-color MintCream

// Overwrite the bootstrap panel style to remove the superfluous
// margin, but add a slightly larger border the same color as the
// surrounding border.
.panel-group
  // Remove the bootstrap bottom margin.
  margin-bottom 0
  // Add a thin border to a nested panel group.
  & .panel-group
    border-top: 1px solid SlateGray
  // Add a thin border to separate panel groups.
  & .panel + .panel
    border-top: 1px solid SlateGray
    margin-top: 0

// Reduce the bootstrap panel body padding from 15 to 5.
.panel-body
  padding 5px

// Change the SVG hyperlink cursor to a pointer.
svg
  a
    cursor pointer
    pointer-events all

hr
  display none

table
  border-collapse collapse

table, th, td
  border 1px solid Black

th
  padding 0.5em
  font-size 110%
  vertical-align bottom

td
  padding 0 0.5em 0 0.5em

ul, ol
  margin-bottom 0.6em

// Undo Bootstrap changing the color of a small
// span in the heading.
for n in 1 2 3 4 5
  h{n}
    .qi-small
      color Black
