//**  The general nvd3 chart styles. **//

.qi-chart-row
  // Undo the Bootstrap -15px margin offsets.
  margin 0 0 0 0

.qi-tooltip
  table, th, td
    border none
  th
    border-bottom 1px solid SlateGray
  th + th, td + td
    border-left 1px solid SlateGray
  td
    text-align center
