//**  The Clinical Profile styles. **//

.qi-clinical-profile
  padding 0 0 0 2em
  & h4
    // A little top padding is necessary to align the
    // border top with the modeling profile border when
    // there is a modeling list/chart toggle button for
    // more than one visit, which is the common case.
    // It is unknown why this is necessary. 
    padding 0 0 0.1em 0

.qi-clinical-row
  margin 0em 0em 0.5em 0em

.qi-outcome-panel
  margin 0.8em 0em 0em 0em

.qi-outcome-table
  border 1px solid BurlyWood

.qi-outcome-header
  font-weight: bold
  text-align center
  white-space nowrap
  background-color Bisque
  border-bottom 1px solid BurlyWood

.qi-outcome-label
  color: SlateGray

.qi-encounter-biopsy
  color Chartreuse

.qi-encounter-surgery
  color DarkRed

.qi-encounter-assessment
  color MediumSlateBlue

.qi-treatment-neoadjuvant
  opacity .4
  color DarkOliveGreen
  text-align center

.qi-treatment-primary
  opacity .4
  color Crimson
  text-align center

.qi-treatment-adjuvant
  opacity .4
  color DarkSlateBlue
  text-align center
