//**  The Clinical Profile styles. **//

.qi-clinical-profile
  // The clinical profile is long, so reduce the size
  // a smidgeon.
  font-size smaller
  padding 0 0 0 2em
  & h4
    // A little top padding is necessary to align the
    // border top with the modeling profile border when
    // there is a modeling list/chart toggle button for
    // more than one visit, which is the common case.
    // It is unknown why this is necessary. 
    padding 0 0 0.1em 0

.qi-outcome
  margin-top 0.5em

// TODO - delete following if unused
.qi-clinical-row
  margin 0 0 0.5em 0

.qi-outcome-panel
  margin 0.8em 0 0 0

.qi-outcome-table
  border 1px solid BurlyWood

.qi-outcome-header
  font-weight: bold
  text-align center
  white-space nowrap
  background-color Bisque
  border-bottom 1px solid BurlyWood

.qi-outcome-label
  color: SlateGray
