//** The Collection List and Detail page styles. **//

.qi-collection-name
  font-size larger

// TO DO - Fix the menu styles.
.dropdown
  margin-bottom 1em

.dropdown > button
  width 10em
  padding 0.1em
  font-size smaller
  background-color SeaShell

.qi-dropdown-separator
  margin-left 0.3em
  font-size smaller

.qi-dropdown
  text-align left

.qi-dropdown-selected
  margin-left 0.8em

.qi-caret
  margin 0.5em 0.4em 0em 0em
  float right


/* Corellation chart tooltips. */

div.tooltip
  text-align left
  padding 5px
  font 14px sans-serif
  background rgba(0, 0, 0, 0.8)
  color #fff
  border 0px
  border-radius 8px
  pointer-events none
