//** The Collection Summary page styles. **//

.qi-subject-list
  margin-bottom 0.4em
  border 1px solid SlateGray
  border-radius 0.4em
  padding-top 0.4em

.qi-summary-chart
  margin-top 2em

.qi-dropdown-separator
  margin-left 0.3em
  font-size smaller

.qi-summary-chart button
  width 10em
  padding 0.1em
  font-size smaller
  background-color SeaShell

.qi-dropdown
  text-align left

.qi-dropdown-selected
  margin-left 0.8em

.qi-caret
  margin 0.5em 0.4em 0em 0em
  float right
