//** The Collection Detail page styles. **//

// TODO - can the mmicro-formatting be reduced, e.g. by
// placing in nested .panel or .row?
.qi-collection-charts
  margin-top 0.8em

.qi-subject-summary
  height 12em
  padding-left 1em

.qi-subject-table
  height 9em
  overflow-y scroll

.qi-dc-date
  padding-left 1em
  font-size smaller
  font-style italic

.qi-collection-chart
  height 20em

.qi-dropbtn
  width 18em
  margin-bottom 0.2em
  border none
  border-radius 0.4em
  padding 0.2em 0.4em
  font-size smaller
  color white
  text-align left
  background-color Teal

.qi-dropdown
  position relative
  display inline-block
  &:hover
    cursor pointer
    .qi-dropdown-content
      display block
    .qi-dropbtn
      background-color SeaGreen

.qi-dropdown-content
  display none
  position absolute
  height 20em
  overflow-y scroll
  min-width 18em
  border-radius .4em
  font-size smaller
  background-color GhostWhite
  box-shadow 0em 0.8em 1.6em 0em rgba(0,0,0,0.2)
  // The Z-index is necessary to layer the dropdowns over the chart body.
  z-index 1
  .qi-dropdown-choice
    display block
    padding 0.2em 0.4em
    color black
    text-decoration none
    &:hover
      background-color OldLace
      .qi-check-hide
        color OldLace

.qi-dropdown-icon
  margin-right 0.8em
  border-radius .6em
  padding 0.1em 0.4em
  font-size smaller
  &.qi-xy
    color Teal
    background-color SeaShell
  &.qi-check-hide
    color GhostWhite
  &.qi-check-show
    color Teal

.qi-caret
  margin 0.5em 0.4em 0em 0em
  float right

.qi-axis-dropdowns
  margin-bottom 0.5em

// The collection chart tooltip styles.
// TODO - specialize to the charts.
.tooltip
  border 1px solid SlateGray
  padding 4px
  font 14px sans-serif
  text-align left
  background White
  pointer-events none
