//**  The general-purpose styles. **//

@require 'helpers'

.qi-label
  font-weight: bold

.qi-x-smaller
  font-size 75%

.qi-text-right
    text-align: right

.qi-date, .qi-number
  text-align center

.qi-pct
  padding-right 2em
  text-align right

ul.qi-clean-list
  clean-list()

.qi-close-icon
  text-align right

.qi-transparent
  background: transparent

.qi-separator-faint
  border 0.1em solid Lavender
