//**  The general-purpose styles. **//

@require 'helpers'

.qi-label
  font-weight: bold

.qi-x-smaller
  font-size 75%

.qi-text-right
    text-align: right

.qi-date, .qi-number
  text-align center

.qi-pct
  padding-right 2em
  text-align right

// See the clean-list helper for a description.
ul.qi-clean-list
  clean-list()

.qi-close-icon
  text-align right

.qi-transparent
  background: transparent

.qi-separator-faint
  border 1px solid Lavender

.qi-top-buffer
  // Make some room at the top.
  margin-top 0.5em

.qi-left-buffer
  // Make some room on the left.
  margin-left 0.5em

.qi-right-buffer
  // Make some room on the right.
  margin-right 0.5em

.qi-bottom-buffer
  // Make some room at the bottom.
  margin-bottom 0.5em

.qi-inline-heading
  display inline-block

.qi-btn-select
  color Peru
  &:hover
    color Chocolate
    cursor pointer
  &:focus, &.active
    border 1px solid Peru
    color White
    background Chocolate
// TODO - fold below into above.
//   & button
//     width 7em
//     padding 0.2em
//     border 1px solid Peru
//     margin 0em 0em 0.2em 0em
//     color Black
//     background OldLace
//     &:hover
//       border 1px solid Peru
//       color Black
//       background Chocolate
//     &:focus, &.active
//       border 1px solid Peru
//       color White
//       background Chocolate

.qi-radio-row
  display inline-block
  & span, .col
    float left
    display block
  & span
    margin 2px 0.5em 0 0
  & label
    padding 2px 2px 0 0
  & input[type=radio], input.radio
    margin 2px 0 0 2px
  & .col + .col
    margin-left 2em

.qi-inset-title
  color Indigo

.qi-panel
  border 1px solid SlateGray
  border-radius: 0.4em 0.4em 0.4em 0.4em

.qi-nested
  padding 0.5em

// The standard data table style.
.qi-table
  // Fill out small tables.
  min-width 80%
  & table, th, td
    // Cells have a thin light brown border.
    border 1px solid BurlyWood
  & th
    // The table headings are bold against a background.
    background-color Bisque
    font-weight bold
    text-align center
    white-space nowrap
  & td
    // The table data cell has slight vertical padding.
    // Horizontal formatting is the page responsibility.
    padding-top 0.2em
    padding-bottom 0.2em
  & colgroup
    // A column group is delineated by a thin silver line.
    border-left 0.2em solid Silver

.qi-spaced-table
  // Space adjacent rows.
  border 0
  border-collapse separate
  border-spacing 0 0.5em

.qi-subtable-title
  font-size larger
  font-style italic
  margin-left 0.5 em
