//**  The Image Display styles. **//

.qi-series-image
  height 36em

.qi-image-ctl
  background-color White
  border 0.1em solid Brown
  border-radius 0.4em 0.4em 0.4em 0.4em
  position fixed
  top 8em
  right 1.1em
  width 28em

.qi-image-ctl-group
  padding-top 0.8em

.qi-image-ctl-label
  font-weight bold
  color SlateGray

.qi-overlay-select
  & button
    width 5.7em
    padding 0.1em
    font-size 90%
