//**  The Image Display styles. **//

.qi-series-image
  height 36em

.qi-image-ctl
  background-color White
  border 0.1em solid Brown
  border-radius 0.4em 0.4em 0.4em 0.4em
  position fixed
  top 8em
  right 1.1em
  width 28em
  & h5
    font-weight bold
    color: SlateGray

.qi-overlay-select
  padding 0em 0em 0em 0.8em
