//**  The Image Display styles. **//

//.qi-image
//  position relative
//  display inline-block
//  height 44em
//  width 100%

#qi-slide, #qi-image-container
  margin-top 10px
  margin-bottom 10px

#qi-image-container
  position relative
  width 512px
  height 512px

#qi-dicom-image, #qi-overlay
  position absolute
  top 0
  left 0
  width 512px
  height 512px

#qi-overlay
  opacity 1


.qi-vol-ctl
  position absolute
  right 0
  min-width 20em
  font-size smaller
  & .row
    vertical-align middle
    margin 0.5em

.qi-slider-label
  // Scooch the label down a bit, since the slider is vertically fatter than
  // the label text.
  padding-top .5em

// The slider style. This style is adapted from
// http://prajwalkman.github.io/angular-slider/angular-slider/angular-slider.css
// with the following modifications:
// * The pointer width and height are aligned so they are not off-center
// * The pointer background colors are consistent with the app
//
// TODO - cull the styles as follows:
// * Remove CSS attributes that are superfluous, e.g. width 100%,
//   and visually confirm that the display is still correct
// * autoprefixer-stylus should take care of the background variants
// * change the px to comparable em
// * color should be a name
// * the pointer can probably be subsumed by common.styl .qi-btn
// * Add comments, e.g. what is bubble?
.qi-slider
  display inline-block
  position relative
  height 1em
  width 100%
  margin 1em 0 1em 0
  span
    white-space nowrap
    &.bar
      height 100%
      z-index 0
      -webkit-border-radius 1em/1em
      border-radius 1em/1em
      background -webkit-gradient(linear, left top, left bottom, color-stop(0, #c0c0c0), color-stop(1, #8d8d8d))
      background -webkit-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%)
      background -moz-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%)
      background -o-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%)
      background -ms-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%)
      background linear-gradient(to bottom, #c0c0c0 0, #8d8d8d 100%)
      -webkit-box-shadow inset 2px 2px 5px
      box-shadow inset 2px 2px 5px
      &.selection
        z-index 1
        background -webkit-gradient(linear, left top, left bottom, color-stop(0, #13b6ff), color-stop(1, #00a8f3))
        background -webkit-linear-gradient(top, #13b6ff 0, #00a8f3 100%)
        background -moz-linear-gradient(top, #13b6ff 0, #00a8f3 100%)
        background -o-linear-gradient(top, #13b6ff 0, #00a8f3 100%)
        background -ms-linear-gradient(top, #13b6ff 0, #00a8f3 100%)
        background linear-gradient(to bottom, #13b6ff 0, #00a8f3 100%)
        -webkit-box-shadow none
        box-shadow none
    &.pointer
      cursor pointer
      width 22px
      height 22px
      top -8px
      background-color #fff
      border 1px solid #000
      z-index 2
      -webkit-border-radius 1em/1em
      border-radius 1em/1em
      &:after
        content ''
        background-color Peru
        width 8px
        height 8px
        position absolute
        top 6px
        left 6px
        -webkit-border-radius 1em/1em
        border-radius 1em/1em
      &:hover
        &:after
          background-color Chocolate
      &.active
        &:after
          background-color Chocolate
    &.bubble
      cursor default
      top -22px
      padding 1px 3px 1px 3px
      font-size smaller
      &.selection
        top 15px
      &.limit
        color #808080
