//**  The Main content styles. **//

@require 'helpers'

@require 'animation'

@require 'navigation'

.qi-body
  background-color WhiteSmoke

.qi-billboard
  background MediumSlateBlue
  color LightGoldenRodYellow
  border-bottom 0.6em solid DarkBlue
  border-radius: 0 0 0.4em 0.4em
  text-indent 1em
  margin 0

.qi-content
  overflow hide

.qi-main
  margin 0.5em 0 0 0

.qi-main-list
  clean-list()

.qi-help
  // The z-index is set to a high number so it is always in front of slider
  // controls on the image detail page.
  z-index 99
  background OldLace
  border 1px solid Brown
  border-radius 0.4em 0.4em 0.4em 0.4em
  // padding 1em 1em 0 1em
  position fixed
  right 1em
  padding 0.5em
  // top 8em
  // right 1.1em
  max-height 80%
  width 25%
  overflow-y auto
  qi-transition(linear, med-transition)

.qi-help-close
  text-align right
  width 100%
  padding-right 1em
  cursor pointer

.qi-help-text
  // Downsize headers
  for n in 1 2 3 4 5
    h{n}
      font-size (125% - (5 * n))
      text-decoration underline

.qi-contact-info
  padding-top 1em

.qi-footer
  border-top 1px solid SlateGray
  p.qi-legal
    padding 1em 0
    text-align center
    color DimGray
    font-size x-small
    span.glyphicon-copyright-mark
      padding 0 0.2em 0 0.2em
