//** The Modeling Profile styles. **//

@require 'chart'

@require 'dateline'

.qi-modeling-profile
  padding 0 0.2em 0 0

.qi-modeling-table
  font-size smaller
  & table, th, td
    border 1px solid BurlyWood
  & th
    background-color Bisque
    font-weight bold
    text-align center
    white-space nowrap
  & td
    padding-top 0.2em
    padding-bottom 0.2em
