//** The Modeling Profile styles. **//

@require 'chart'

@require 'dateline'

.qi-modeling-profile
  padding 0 0.2em 0 0

.qi-modeling-table
  // The modeling table text is smaller so the rows fit
  // on one line on a standard notebook display.
  font-size smaller

.qi-modeling-select
  margin 0.5em 0 0.5em 1em
  span
    color DarkSlateBlue
