//**  The Session Detail styles. **//

@require 'helpers'

.qi-session-detail
  // A small offset on the right to balance the room
  // allowed on the left for the y-axis and image
  // selection labels.
  margin-right 2em

.qi-intensity-chart
  // Allow room for the image selection label below
  // the chart. The time points align with the image
  // select buttons.
  margin-left 2em
  float left
  height 22em
  width 100%

.qi-image-selection-key
  float left
  width 6.1em
  padding-right .5em
  text-align right
  font-size smaller

.qi-justified-list
  // The negative bottom margin corrects for the
  // spacing injected after the list.
  margin-bottom -1.2em
  text-align justify
  list-style none
  &:after
    empty-line()

.qi-justified-list-item
  display inline-block

qi-image-btn-group()
  // The right margin compensates for the offset created by
  // nvd3 chart.
  margin-right 1em
  & .tooltip
    font-size .7em
  & .tooltip-inner
    background-color IndianRed
  & .tooltip.top .tooltip-arrow
    border-top-color IndianRed

// TODO - set the scan and registration colors to the
// data series color dynamically in the format function.
// This allows for more than one registration.

.qi-scan-image-btn-group
  qi-image-btn-group()
  & button
    background-color Thistle
  & button:hover
    background-color Indigo

.qi-reg-image-btn-group
  qi-image-btn-group()
  & button
    background-color PaleGreen
  & button:hover
    background-color DarkGreen

.qi-image-btn
  font-size 9px

.qi-bolus-legend
  text-anchor end

.qi-bolus-flood
  flood-color Gainsboro

.qi-bolus-arrival
  stroke Gainsboro
  stroke-width 1em
  stroke-opacity .8
