@import 'vendor.css' 

body
  margin 10px
  font-family 'Open Sans', sans-serif

h1, h2, h3
  margin 0
  padding 0

a
  text-decoration none
  color Peru
  &:hover
    color Chocolate
  & img
    border none

hr
  display none

table
  border-collapse collapse

table, th, td
  border 1px solid Black

th
  padding 5px
  font-size 110%
  vertical-align bottom

td
  padding 0px 5px 0px 5px

ul, ol
  margin-bottom 6px

.qi-x-smaller
  font-size 75%

clean-list()
  -webkit-padding-start: 10px
  & li
    list-style-type none

ul.qi-clean-list
  clean-list()

.qi-close-icon
  text-align right

.qi-transparent
  background: transparent

.qi-btn
  color Black
  background-image none
  border 0

.qi-nudge
  color #999999
  padding-right 5px
  font-size small

.qi-navbar
  min-height 48px
  margin-bottom 0px
  border 0px
  border-radius: 4px 4px 0px 0px
  background url('/static/media/header_bg.gif') repeat

.qi-logo
  float left
  margin 0px 0px 0px 2px 

.qi-brand
  float right
  padding 15px 0px 0px 0px
  letter-spacing -2px
  font-size 200%
  color GoldenRod
  a
    text-decoration none

.qi-navbar-right
  margin 5px
  & li
    margin 5px
    padding 0px 0px 2px 2px
  & > li > a
    color Black !important
    padding 5px 10px 5px 10px
    border-radius 4px

.qi-navbar-choice
  color Black
  background-image none
  padding 5px 10px 5px 10px
  border 0
  // The color is forced in order to retain the color when the help
  // button is pressed. Setting the .active or :active style has no
  // effect.
  background-color Moccasin !important
  &:hover
    background-color Chocolate !important

.qi-billboard
  background MediumSlateBlue
  color LightGoldenRodYellow
  border-bottom 6px solid DarkBlue
  border-radius: 0px 0px 4px 4px
  text-indent 1em
  margin 0

.qi-content
  padding 0px 0px 0px 10px
  overflow hide

.qi-subheading
  font-size large

.qi-main
  margin 5px 0px 0px 0px

.qi-main-list
  clean-list()

.qi-intensity-chart
  float left
  margin 0px 0px 0px 65px
  height 280px
  width 905px

.qi-series-selection-key
  text-align: right

.qi-image-btn-grp
  // Undo the Bootstrap adjacent button tweak.
  .btn + .btn
    margin 0px 2px 0px 2px

.qi-image-btn
  margin 0px 2px 0px 2px
  &:hover
    color Chocolate

.qi-scan-image button
  background-color Thistle
  &:hover
    background-color Indigo

.qi-reg-image button
  background-color PaleGreen
  &:hover
    background-color DarkGreen

.qi-chart-title
  margin-left 162px

qi-bolus-bg()
  background Gainsboro

.qi-bolus-legend
  qi-bolus-bg()
  width 9em
  text-align center
  font-size smaller
  margin-top 2em

.qi-bolus
  qi-bolus-bg()
  width 10px
  height 200px
  position absolute
  // Note: changing the chart dimensions necessitates changing the bolus
  // position.
  left 119px
  top 168px
  opacity .6

qi-transition(type, sec)
  -webkit-transition all type sec
  -moz-transition all type sec
  -o-transition all type sec
  transition all type sec

slow-transition = 1s

med-transition = 0.5s

fast-transition = 0.2s

.qi-no-transition
  -webkit-transition none
  -moz-transition none
  // Opera doesn't support none
  -o-transition all 0s
  transition none

.qi-help
  background OldLace
  border 1px solid Brown
  position fixed
  top 100px
  right 18px
  width 25%
  qi-transition(linear, med-transition)

.qi-help-text
  // Downsize headers
  for n in 1 2 3 4 5
    h{n}
      font-size (125% - (5 * n))
      text-decoration underline

.qi-footer
  border-top 1px solid SlateGray
  p.qi-legal
    padding 1em 0em
    text-align center
    color DimGray
    font-size x-small
    span.glyphicon-copyright-mark
      padding 0 .2em 0 .2em
