@import 'vendor.css' 

body
  margin 1em
  font-family 'Open Sans', sans-serif

h1, h2, h3
  margin 0
  padding 0

a
  text-decoration none
  color Peru
  &:hover
    color Chocolate
  & img
    border none

hr
  display none

table
  border-collapse collapse

table, th, td
  border 0.1em solid Black

th
  padding 0.5em
  font-size 110%
  vertical-align bottom

td
  padding 0 0.5em 0 0.5em

ul, ol
  margin-bottom 0.6em

// Undo Bootstrap changing the color of a small
// span in the heading.
for n in 1 2 3 4 5
  h{n}
    .qi-small
      color Black

.qi-x-smaller
  font-size 75%

clean-list()
  -webkit-padding-start: 1em
  & li
    list-style-type none

ul.qi-clean-list
  clean-list()

.qi-close-icon
  text-align right

.qi-transparent
  background: transparent

.qi-btn
  color Black
  background-image none
  border 0

.qi-nudge
  color #999999
  padding-right 0.5em
  font-size small

.qi-navbar
  margin-bottom 0
  border 0
  border-radius: 0.4em 0.4em 0 0
  background url('/static/media/header_bg.gif') repeat

.qi-logo
  float left
  margin 0 0 0 0.2em 

.qi-brand
  float right
  padding 0.5em 0 0 0
  letter-spacing -.05em
  font-size 200%
  color GoldenRod
  a
    text-decoration none

.qi-navbar-right
  margin 0.2em 0 0 0
  & li
    margin 0.5em
  & > li > a
    color Black !important
    padding 0.5em 1em 0.5em 1em
    border-radius 0.4em

.qi-navbar-choice
  color Black
  background-image none
  padding 0.5em 1em 0.5em 1em
  border 0
  // The color is forced in order to retain the color when the help
  // button is pressed. Setting the .active or :active style has no
  // effect.
  background-color Moccasin !important
  &:hover
    background-color Chocolate !important

.qi-billboard
  background MediumSlateBlue
  color LightGoldenRodYellow
  border-bottom 0.6em solid DarkBlue
  border-radius: 0 0 0.4em 0.4em
  text-indent 1em
  margin 0

.qi-content
  padding 0 0 0 1em
  overflow hide

.qi-main
  margin 0.5em 0 0 0

.qi-main-list
  clean-list()

qi-subject-profile()
  width 50%
  & h4
    text-decoration underline

.qi-profile-sheet
  border 1px solid SlateGray
  border-radius: 0.4em 0.4em 0.4em 0.4em

.qi-modeling-profile
  float left
  qi-subject-profile()

.qi-modeling-chart
  float left
  height 16em
  width 32em

.qi-clinical-profile
  float right
  qi-subject-profile()

.qi-intensity
  margin 0 0 0 4.7em

.qi-intensity-chart
  float left
  height 22em
  width 68em

.qi-series-selection
  margin 0 0 1em 0

.qi-series-selection-key
  text-align: right

.qi-image-btn-grp
  // Undo the Bootstrap adjacent button tweak.
  .btn + .btn
    margin 0 0.255em 0 0.2em

.qi-image-btn
  &:hover
    color Chocolate

.qi-scan-image button
  background-color Thistle
  &:hover
    background-color Indigo

.qi-reg-image button
  background-color PaleGreen
  &:hover
    background-color DarkGreen

qi-bolus-bg()
  background Gainsboro

.qi-bolus-legend
  qi-bolus-bg()
  width 9em
  text-align center
  font-size smaller
  margin-top 2em

.qi-bolus-arrival
  qi-bolus-bg()
  width 1em
  position absolute
  opacity .6

qi-transition(type, sec)
  -webkit-transition all type sec
  -moz-transition all type sec
  -o-transition all type sec
  transition all type sec

slow-transition = 1s

med-transition = 0.5s

fast-transition = 0.2s

.qi-no-transition
  -webkit-transition none
  -moz-transition none
  // Opera doesn't support none
  -o-transition all 0s
  transition none

.qi-help
  background OldLace
  border 0.1em solid Brown
  position fixed
  top 10em
  right 1.8em
  width 25%
  qi-transition(linear, med-transition)

.qi-help-text
  // Downsize headers
  for n in 1 2 3 4 5
    h{n}
      font-size (125% - (5 * n))
      text-decoration underline

.qi-footer
  border-top 0.1em solid SlateGray
  p.qi-legal
    padding 1em 0em
    text-align center
    color DimGray
    font-size x-small
    span.glyphicon-copyright-mark
      padding 0 0.2em 0 0.2em
