@import 'vendor.css' 

body
  margin 1em
  font-family 'Open Sans', sans-serif

h1, h2, h3
  margin 0
  padding 0

a
  text-decoration none
  color Peru
  &:hover
    color Chocolate
  & img
    border none
  & > text
    fill Peru
  &:hover > text
    fill Chocolate

svg
  a
    pointer-events all
hr
  display none

table
  border-collapse collapse

table, th, td
  border 0.1em solid Black

th
  padding 0.5em
  font-size 110%
  vertical-align bottom

td
  padding 0 0.5em 0 0.5em

ul, ol
  margin-bottom 0.6em

// Undo Bootstrap changing the color of a small
// span in the heading.
for n in 1 2 3 4 5
  h{n}
    .qi-small
      color Black

.qi-x-smaller
  font-size 75%

.qi-text-right
    text-align: right

clean-list()
  -webkit-padding-start: 1em
  & li
    list-style-type none

ul.qi-clean-list
  clean-list()

.qi-close-icon
  text-align right

.qi-transparent
  background: transparent

.qi-separator-faint
  border 0.1em solid Lavender

.qi-nav-btn
  color Black
  background-image none
  border 0
  padding 0.2em 0.4em 0.2em 0.4em

.qi-navbar
  margin-bottom 0
  border 0
  border-radius: 0.4em 0.4em 0 0
  background url('/static/media/header-bg.gif') repeat

.qi-logo
  float left
  margin 0 0 0 0.2em 

.qi-brand
  float right
  padding 0.5em 0 0 0
  letter-spacing -.05em
  font-size 200%
  color GoldenRod
  a
    text-decoration none

.qi-navbar-right
  margin 0.2em 0 0 0
  & li
    margin 0.5em
  & > li > a
    color Black !important
    padding 0.4em 0.8em 0.4em 0.8em
    border-radius 0.4em

.qi-navbar-choice
  color Black
  background-image none
  padding 0.4em 0.8em 0.4em 0.8em
  border 0
  // The color is forced in order to retain the color when the help
  // button is pressed. Setting the .active or :active style has no
  // effect.
  background-color Moccasin !important
  &:hover
    background-color Chocolate !important

.qi-billboard
  background MediumSlateBlue
  color LightGoldenRodYellow
  border-bottom 0.6em solid DarkBlue
  border-radius: 0 0 0.4em 0.4em
  text-indent 1em
  margin 0

.qi-content
  overflow hide

.qi-main
  margin 0.5em 0 0 0

.qi-main-list
  clean-list()

.qi-profile-btn
  color Black
  background-color Moccasin
  &:hover
    background-color Chocolate
  margin 0 0 0 0.3em
  padding 0 0.3em 0 0.3em
  &:focus
    outline none

.qi-modeling-profile
  padding 0 0.2em 0 0

.qi-modeling-sheet
  font-size smaller
  & table, th, td
    border 0.1em solid Bisque
  & th
    background-color Bisque
    font-weight bold
    text-align center
    white-space nowrap
  & td
    padding-top 0.2em
    padding-bottom 0.2em

.qi-wide-table
  width 100%
  & .qi-prop-group
    width 13%

.qi-narrow-table
  width 50%
  & .qi-prop-group
    width 28%

.qi-prop-group
  border-left 0.2em solid Silver

.qi-date, .qi-number
    text-align center

.qi-pct
    padding-right 1.5em
    text-align right

.qi-clinical-profile
  padding 0 0 0 0.2em
  & h4
    // A little top padding is necessary to align the
    // border top with the modeling profile border when
    // there is a modeling list/chart toggle button for
    // more than one visit, which is the common case.
    // It is unknown why this necessary. 
    padding 0 0 0.1em 0
  
.qi-profile-sheet
  border 1px solid SlateGray
  border-radius: 0.4em 0.4em 0.4em 0.4em
  margin 0 0 0.2em 0

.qi-chart-row
  // Undo the Bootstrap -15px margin offsets.
  margin 0 0 0 0

.qi-tooltip
  table, th, td
    border none
  th
    border-bottom 1px solid SlateGray
  th + th, td + td
    border-left 1px solid SlateGray
  td
    text-align center

.qi-dateline-chart
  svg
    margin 0 0 0 10%
    width 80%
  // Override the nv3d style which hides the x axis line.
  .nv-axis.nv-x path.domain
    stroke-opacity: .25

.qi-intensity-chart
  margin 0 0 0 3.2em
  float left
  height 22em
  width 68em
  // TODO - set width to 100% here and in .qi-image-selection,
  // then center each image button in a 100% partition rather
  // than setting fixed margins.

.qi-image-selection
  margin 0 0 0.2em 0
  float left
  height 4em
  // width 100%
  width 68em

.qi-image-selection-key
  padding-right .2em 
  text-align right

qi-image-btn-group()
  .qi-image-btn
    margin 0.1em 0.242em 0.1em 0.242em
  // Undo the Bootstrap adjacent button tweaks.
  .btn + .btn
    margin 0.1em 0.242em 0.1em 0.242em
  .btn:first-child
    margin 0.1em 0.242em 0.1em 0.242em

.qi-scan-image-btn-group
  qi-image-btn-group()
  & button
    background-color Thistle
  & button:hover
    background-color Indigo

.qi-reg-image-btn-group
  qi-image-btn-group()
  & button
    background-color PaleGreen
  & button:hover
    background-color DarkGreen

.qi-image-btn
  &:hover
    color Chocolate

.qi-bolus-legend
  text-anchor end

.qi-bolus-flood
  flood-color Gainsboro

.qi-bolus-arrival
  stroke Gainsboro
  stroke-width 1em
  stroke-opacity .8

qi-transition(type, sec)
  -webkit-transition all type sec
  -moz-transition all type sec
  -o-transition all type sec
  transition all type sec

.qi-no-transition
  -webkit-transition none
  -moz-transition none
  // Opera doesn't support none
  -o-transition all 0s
  transition none

slow-transition = 1s
slower-transition = 0.75s
med-transition = 0.5s
fast-transition = 0.2s

.qi-help
  background OldLace
  border 0.1em solid Brown
  position fixed
  top 10em
  right 1.8em
  width 25%
  qi-transition(linear, slower-transition)

.qi-help-text
  // Downsize headers
  for n in 1 2 3 4 5
    h{n}
      font-size (125% - (5 * n))
      text-decoration underline

.qi-footer
  border-top 0.1em solid SlateGray
  p.qi-legal
    padding 1em 0em
    text-align center
    color DimGray
    font-size x-small
    span.glyphicon-copyright-mark
      padding 0 0.2em 0 0.2em
