//**  The Subject Detail styles. **//

@require 'modeling'

@require 'clinical'
.qi-profile-heading
  margin-left 2em

.qi-profile-panel
  border 1px solid SlateGray
  border-radius: 0.4em 0.4em 0.4em 0.4em
  margin 0 0 0.2em 0

.qi-profile-btn
  color Black
  background-color Moccasin
  &:hover
    background-color Chocolate
  margin 0 0 0 0.3em
  padding 0 0.3em 0 0.3em
  &:focus
    outline none
