.qi-subtable-title Genetic Expression

.qi-panel.qi-nested
  table.table.qi-table.qi-ver-space(
    ng-show="geneticExpression.her2NeuIhc != null || geneticExpression.her2NeuFish != null || geneticExpression.ki67 != null"
  )
    tr(ng-show="geneticExpression.her2NeuIhc != null")
      th HER2 NEU IHC
      td {{ geneticExpression.her2NeuIhc }}
    tr(ng-show="geneticExpression.her2NeuFish != null")
      th HER2 NEU FISH
      td {{ geneticExpression.her2NeuFish | boolean }}
    tr(ng-show="geneticExpression.ki67 != null")
      th Ki67
      td {{ geneticExpression.ki67 }}

  .qi-ver-space(ng-controller='BreastGeneAssayCtrl' ng-show="!!geneticExpression.normalizedAssay")
    include breast-gene-assay
