.qi-ver-space(ng-show="!!pathology.tnm")
  include tnm

.qi-ver-space(ng-controller='BreastHormoneReceptorsCtrl'
              ng-show="!!pathology.hormoneReceptors")
  include breast-hormone-receptors

.qi-ver-space(ng-controller='BreastGeneticExpressionCtrl'
              ng-show="!!pathology.geneticExpression")
  include breast-genetic-expression
