.qi-subtable-title Receptor Status

.qi-panel.qi-nested
  .qi-ver-space(ng-controller='EstrogenCtrl'
                ng-show='hormoneReceptors.estrogen != null')
    include hormone-receptor

  .qi-ver-space(ng-controller='ProgesteroneCtrl'
                ng-show='hormoneReceptors.progesterone != null')
    include hormone-receptor
