.qi-ver-space(ng-show="!!tumor.tnm")
  include tnm

.qi-ver-space(ng-controller='BreastHormoneReceptorsCtrl'
	          ng-show="!!tumor.geneticExpression")
  include breast-hormone-receptors

.qi-ver-space(ng-controller='BreastGeneticExpressionCtrl'
	          ng-show="!!tumor.geneticExpression")
  include breast-genetic-expression

// TO DO - add RCB
