.qi-vertical-space(ng-show="!!tumor.extent")
  include tumor-extent

.qi-vertical-space(ng-show="!!tumor.tnm")
  include tnm

.qi-vertical-space(ng-controller='BreastHormoneReceptorsCtrl'
              ng-show="!!tumor.geneticExpression")
  include breast-hormone-receptors

.qi-vertical-space(ng-controller='BreastGeneticExpressionCtrl'
              ng-show="!!tumor.geneticExpression")
  include breast-genetic-expression

.qi-vertical-space(ng-controller='ResidualCancerBurdenCtrl'
              ng-show="!!tumor.rcb")
  include breast-rcb
