qi-tnm(ng-show='!!pathology.tnm')

div(ng-controller='EstrogenCtrl' ng-show='!!pathology.estrogen')
  include hormone-receptor

div(ng-controller='ProgesteroneCtrl' ng-show='!!pathology.progesterone')
  include hormone-receptor

include breast-genetic-expression
