.qi-subtable-title Chemotherapy

.qi-panel.qi-nested
  .qi-ver-space(ng-repeat="dosage in chemotherapy.dosages")
    table.dosage.table.qi-table
      tr
        th Drug Name
        td {{ dosage.agent.name | capitalize }}
      tr
        th Start Date
        td {{ dosage.startDate | moment }}
      tr
        th Amount
        td {{ dosage.amount | number:1 }} mg/kg
        td.qi-transparent
          button.btn.btn-med.qi-profile-btn(ng-controller='DosageAmountHelpCtrl',
            ng-click="open()"
            )
            .glyphicon.glyphicon-question-sign
      tr
        th Duration
        td {{ dosage.duration }} days
