include accordion-heading-mixin

//- TODO - Display by the encounter.type rather than encounter._cls,
//- where encounter.type is a new scope variable that defaults to
//- encounter._cls, but is overridden for a Surgery subclass to
//- delegate to the Surgery superclass, resulting in 'Surgery'
//- rather than 'BreastSurgery' or 'SarcomaSurgery'. See also
//- the subjectDetail.spec and dateline.coffee TODO items.
//-
//- The heading mixin below parses to:
//-   <accordion-heading>{{ encounter._cls }}
//-
+accordion-heading('{{ encounter._cls }}')

table.table.qi-table.qi-ver-space
  tr
    th Date
    td {{ encounter.date | moment }}
  
  tr(ng-show="encounter.weight != null")
    th Subject Weight
    td {{ encounter.weight }}

.qi-ver-space(ng-switch="encounter._cls")
  div(ng-switch-when='Biopsy')
    include pathology
  //- TODO - 
  div(ng-switch-when='BreastSurgery')
    include pathology
  div(ng-switch-when='SarcomaSurgery')
    include pathology
