include accordion-heading-mixin

//- The heading mixin below parses to:
//-   <accordion-heading>{{ encounter._cls }}
//-
+accordion-heading('{{ encounter._cls }}')

table.table.qi-table.qi-ver-space
  tr
    th Date
    td {{ encounter.date | moment }}
  
  tr(ng-show="encounter.weight != null")
    th Subject Weight
    td {{ encounter.weight }}

.qi-ver-space(ng-switch="encounter._cls")
  div(ng-switch-when='Biopsy')
    include pathology
  div(ng-switch-when='Surgery')
    include pathology
  div(ng-switch-when='Assessment')
    include assessment
