include accordion-heading-mixin

//- The heading mixin below parses to:
//-   <uib-accordion-heading>{{ encounter.title }}
//-
+accordion-heading('{{ encounter.title }}')

table.table.qi-table.qi-vertical-space
  tr
    th Date
    td {{ encounter.date | moment }}
  
  tr(ng-show="encounter.weight != null")
    th Patient Weight
    td {{ encounter.weight }}

.qi-vertical-space(ng-switch="encounter.title")
  div(ng-switch-when='Biopsy')
    include pathology
  div(ng-switch-when='Surgery')
    include pathology
