include accordion-heading-mixin

+accordion-heading('{{ encounter._cls }}')

table.qi-table.qi-bottom-buffer
  tr
    th.col-md-2 Date
    td.col-md-10 {{ encounter.date | moment }}

div(ng-switch='encounter._cls')
  div(ng-switch-when='Biopsy')
    include pathology
  div(ng-switch-when='Surgery')
    include pathology
  div(ng-switch-when='Assessment')
    include assessment
