.qi-subtable-title FNCLCC Grade

table.table.qi-table
  tr
    th Differentiation
    td {{ grade.differentiation }}
  tr
    th Mitotic Count
    td {{ grade.mitoticCount }}
  tr
    th Necrosis
    td {{ grade.necrosis }}
