// Note: receptorStatus is set by the parent controller.
.qi-subtable-title {{ receptorStatus.hormone | capitalize }}

table.table.qi-table
  tr(ng-show='receptorStatus.positive != null')
    th Result
    td {{ receptorStatus.positive | positiveNegative }}
  tr(ng-show='receptorStatus.intensity != null')
    th Intensity
    td {{ receptorStatus.intensity | percentSign }}
  tr(ng-show='receptorStatus.quickScore != null')
    th Quick Score
    td {{ receptorStatus.quickScore }}
