// Note: receptorStatus is set by the parent controller.
.qi-subtable-title {{ receptorStatus.hormone | capitalize }}

table.table.qi-table
  tr
    th Result
    td {{ receptorStatus.positive | positiveNegative }}
  tr
    th Intensity
    td {{ receptorStatus.intensity | percentSign }}
  tr
    th Quick Score
    td {{ receptorStatus.quickScore }}
