//
  This image selection panel consists of image selection rows
  for the scan and each registration. The image selection row
  is entitled with the intensity data series key, e.g. 'Scan'
  or 'Realigned', followed by one image select button pair per
  series.

  Note: the scan element context for the repeats below works
  around the following AngularJS bug:

  * CSS justification doesn't work with AngularJS ng-repeat

  AngularJS ng-repeat does not emit whitespace between the li
  elements, which is necessary for justification
  (cf http://stackoverflow.com/questions/23252601/angular-why-doesnt-css-justification-work-with-ng-repeat).
  The work-around is to set the repeat on a span which wraps
  the list element rather than the list itself.

  As a result, the button "group" styles are added to each
  iterated button list item rather than the list repeat
  element itself. This is somewhat counter-intuitive, but is
  necessary to work around the AngularJS bug.

// The scan image selection buttons.
div(ng-repeat="(_, scan) in session.scans | multiVolume" ng-controller='ScanImageSelectCtrl')
  // ScanImageSelectCtrl places the scan profile in scope.
  // The ng-bind-html embeds a scan profile hyperlink in the selection
  // title element. The HTML cannot be directly included here, since the
  // hyperlink anchor element text is dynamically determined.
  // The hyperlink click action displays the scan profile.
  // The scan select buttons.
  .row
    .qi-image-selection-title {{ scanTitle }}
    ul.qi-justified-list.qi-scan-image-btn-group
      span(ng-repeat="image in scan.images" tooltip="{{ $index + 1 }}")
        li.qi-justified-list-item
          include ./image-select-btn-pair

  // The realigned image selection buttons.
  .row
    // Nudge the title to the left to convey that the registration is
    // performed on the current scan.
    .qi-image-selection-title.qi-left-buffer(show="scan.registrations)") Realigned:
  .row(ng-repeat="registration in registrations" ng-controller='RegistrationImageSelectCtrl')
    // See the scan div above for the controller/hyperlink pattern.
    a(href='' ng-click="open()" ng-controller='RegistrationProtocolCtrl'
      ng-bind-html="registrationTechnique(registration)")
    ul.qi-justified-list.qi-reg-image-btn-group
      span(ng-repeat="image in registration.images" tooltip="{{ $index + 1 }}")
        li.qi-justified-list-item
          include ./image-select-btn-pair
