// The session list formatted as a dateline.
h5.col-md-offset-5 MR Visits
.row.qi-chart-row
  qi-dateline.qi-dateline(data='subject.sessions' attribute='acquisition_date'
    href='session_detail_link' height='30' width='475')
  .qi-separator-faint

// The PK parameter charts.
h5.col-md-offset-1
  | Vascular Permeability Transfer Constant (K<sup>trans</sup>)
qi-modeling-chart(data='subject.sessions' chart='ktrans')
.qi-separator-faint
h5.col-md-offset-1 Extravascular Extracellular Volume Fraction (v<sub>e</sub>)
qi-modeling-chart(data='subject.sessions' chart='ve')
.qi-separator-faint
h5.col-md-offset-1 Intracellular H<sub>2</sub>O Mean Lifetime (&tau;<sub>i</sub>)
qi-modeling-chart(data='subject.sessions' chart='taui')
