// The PK modeling parameters.
uib-accordion(close-others='false')
  // The Ktrans table.
  div(ng-controller='AccordionGroupCtrl')
    uib-accordion-group(is-open="isOpen")
      include k-trans

  // The v_e table.
  div(ng-controller='AccordionGroupCtrl')
    uib-accordion-group(is-open="isOpen")
      include v-e

  // The tau_i table.
  div(ng-controller='AccordionGroupCtrl')
    uib-accordion-group(is-open="isOpen")
      include tau-i
