// Modeling result selection.
form.qi-left-buffer.qi-bottom-buffer(name='modelingSelect')
  h5.qi-inset-title Modeling Input Parameters
  .qi-radio-row(ng-repeat="modeling in allModeling")
    include modeling-selection-item
