// The PK parameter charts.
.panel-group
  .panel.panel-default
    .panel-heading
      h4.panel-title
        | Vascular Permeability Transfer Constant (K<sup>trans</sup>)
    .panel-collapse
      .panel-body
        qi-modeling-chart(data='subject.sessions', chart='ktrans')
  .panel.panel-default
    .panel-heading
      h4.panel-title
        | Extravascular Extracellular Volume Fraction (v<sub>e</sub>)
    .panel-collapse
      .panel-body
        qi-modeling-chart(data='subject.sessions', chart='ve')
  .panel.panel-default
    .panel-heading
      h4.panel-title
        | Intracellular H<sub>2</sub>O Mean Lifetime (&tau;<sub>i</sub>)
    .panel-collapse
      .panel-body
        qi-modeling-chart(data='subject.sessions', chart='taui')
