// The modeling results.
.panel.panel-default(ng-show="modelings.length > 0"
                     ng-controller='SubjectModelingCtrl')
  .panel-heading
    h4.panel-title Pharmokinetic Modeling
      button#modeling-format-btn.btn.btn-med.qi-profile-btn(
        ng-show='subject.isMultiSession'
        ng-click='toggleModelingFormat()'
      )
        .glyphicon.glyphicon-list(ng-show="modelingFormat == 'chart'")
        .glyphicon.glyphicon-stats(ng-show="modelingFormat == 'table'")
      button#pk-modeling-help-btn.btn.btn-med.qi-profile-btn
        .glyphicon.glyphicon-question-sign
  .panel-collapse
    .panel-body
      include modeling-selection
      include modeling-parameters
