mixin modeling-chart()
  .qi-modeling-chart(ng-switch='dataSeriesConfig.data.length == 1'
                     ng-controller='ModelingChartCtrl')
    div(ng-switch-when='true')
      include modeling-discrete-chart
    div(ng-switch-default)
      include modeling-multi-chart
