.qi-subtable-title Modified Bloom-Richardson Grade

table.qi-table
  tr
    th Tubular Formation
    td {{ grade.tubularFormation }}
  tr
    th Nuclear Pleomorphism
    td {{ grade.nuclearPleomorphism }}
  tr
    th Mitotic Count
    td {{ grade.mitoticCount }}
