.qi-subtable-title Modified Bloom-Richardson Grade

table.qi-table
  tr
    th.col-md-2 Tubular Formation
    td.col-md-10 {{ grade.tubularFormation }}
  tr
    th.col-md-2 Nuclear Pleomorphism
    td.col-md-10 {{ grade.nuclearPleomorphism }}
  tr
    th.col-md-2 Mitotic Count
    td.col-md-10 {{ grade.mitoticCount }}
