// Iterate over the outcomes to include the outcome directives.
div(ng-switch='outcome._cls')
  div(ng-switch-when='TNM')
    include tnm
  div(ng-switch-when='HormoneReceptorStatus')
    // include hormone-receptor
  div(ng-switch-when='NecrosisPercent')
    include necrosis-percent
