div(ng-controller='PathologyCtrl' ng-show="pathology" ng-switch="pathology._cls")
  div(ng-switch-when='BreastPathology')
    include breast-pathology
  div(ng-switch-when='SarcomaPathology')
    include sarcoma-pathology
