table.table.qi-table.qi-ver-space(ng-show='pathology.location != null')
  tr
    th Site
    td {{ pathology.location }}

.qi-ver-space(ng-show='pathology.tnm != null')
 include tnm

// TODO - finish the sarcoma pathology display.
