.qi-top-buffer(ng-show='pathology.site != null')
table.qi-table
  tr
    th Site
    td {{ pathology.site }}

div(ng-show='!!pathology.tnm')
 include tnm

// TODO - finish the sarcoma pathology display.
