table.table.qi-table.qi-spaced-table.qi-ver-space
  tr(ng-show='pathology.location != null')
    th Site
    td {{ pathology.location }}

  tr(ng-show='pathology.histology != null')
    th Histology
    td {{ pathology.histology }}

.qi-ver-space(ng-show='pathology.tnm != null')
  include tnm

.qi-ver-space(ng-show='pathology.necrosis_percent != null')
  include necrosis-percent
