// TODO - shouldn't the divs be inside the uib-accordion-group?
//
// The slice controls are organized into accordion groups.
.qi-panel.qi-slice-ctrl-panel
  uib-accordion(close-others='false')
    div(ng-controller='AccordionGroupCtrl')
      uib-accordion-group(is-open="isOpen")
        +accordion-heading('Orientation')
        // The orientation control.
        .row.qi-slice-ctrl
          div.btn-group
            label.btn.qi-btn.qi-btn-radio(
              ng-repeat="dim in dimensions"
              ng-model="dimension"
              uib-btn-radio="'{{ dim }}'"
            ) {{ dim }}
        .row.qi-slice-ctrl
          .col-md-2
            .btn.btn-med.qi-profile-btn.glyphicon.glyphicon-step-backward#qi-slider-axial-plane-back
          .col-md-8
            .qi-slider(qi-slider-axial-plane)#qi-slider-axial-plane
          .col-md-2
            .btn.btn-med.qi-profile-btn.glyphicon.glyphicon-step-forward#qi-slider-axial-plane-fwd
    div(ng-controller='AccordionGroupCtrl')
      uib-accordion-group(is-open="isOpen")
        +accordion-heading('Time Point')
        // The time point control.
        .row.qi-slice-ctrl
          .col-md-2
            .btn.btn-med.qi-profile-btn.qi-step-btn.glyphicon.glyphicon-step-backward#qi-slider-time-series-back
          .col-md-8
            .qi-slider(qi-slider-time-series)#qi-slider-time-series
          .col-md-2
            .btn.btn-med.qi-profile-btn.qi-step-btn.glyphicon.glyphicon-step-forward#qi-slider-time-series-fwd
