
// The session list formatted as a timeline.
.panel.panel-default
  .panel-heading
    h4.panel-title MR Visit Timeline
  .panel-collapse
    .panel-body
      // TODO - enable.
      //qi-timeline(subject='subject')
