.qi-subtable-title TNM

.qi-panel.qi-nested(ng-controller='TNMCtrl')
  table.table.qi-table.qi-vertical-space
    tr
      th Stage
      td {{ tnm | tnmStage | romanize }}
      td.qi-transparent(ng-switch="subject.collection")
        button.btn.btn-med.tnm-stage-help-btn.qi-profile-btn(ng-switch-when='Breast',
          ng-controller='BreastTNMStageHelpCtrl',
          ng-click="open()"
          )
          .glyphicon.glyphicon-question-sign
        button.btn.btn-med.tnm-stage-help-btn.qi-profile-btn(ng-switch-when='Sarcoma',
          ng-controller='SarcomaTNMStageHelpCtrl',
          ng-click="open()"
          )
          .glyphicon.glyphicon-question-sign

  .qi-vertical-space(ng-show='!!tnm.grade')
    include grade

  table.table.table.qi-table.qi-spaced-table.qi-vertical-space
    tr
      th Size
      td {{ tnm.size | tnmSize }}
    tr
      th Lymph Status
      td {{ tnm.lymphStatus | notSpecified }}
    tr
      th Metastasis
      td {{ tnm.metastasis | presentAbsent }}
