.qi-subtable-title TNM

.qi-panel.qi-nested(ng-controller='TNMCtrl')
  table.table.qi-table.qi-ver-space
    tr
      th Stage
      td {{ tnm | tnmStage | romanize }}
      td.qi-transparent
        button#tnm-stage-help-btn.btn.btn-med.qi-profile-btn
          .glyphicon.glyphicon-question-sign

  .qi-ver-space(ng-show='!!tnm.grade')
    include grade

  table.table.table.qi-table.qi-spaced-table.qi-ver-space
    tr
      th Size
      td {{ tnm.size | tnmSize }}
    tr
      th Lymph Status
      td {{ tnm.lymphStatus | notSpecified }}
    tr
      th Metastasis
      td {{ tnm.metastasis | presentAbsent }}
