.qi-subtable-title Tumor Extent

.qi-panel.qi-nested(ng-controller='TumorExtentCtrl')
  .qi-vertical-space
    table.table.qi-table
      tr(ng-show="extent.length != null")
        th Length
        td {{ extent.length }} mm
      tr(ng-show="extent.width != null")
        th Width
        td {{ extent.width }} mm
      tr(ng-show="extent.depth != null")
        th Depth
        td {{ extent.depth }} mm
