extends ../layout/partial

block title
  | {{ session.title }}

block help
  include include/page-help

block content
  ul.qi-main-list(*ngIf="session.scans")
    li(*ngFor="let volume of session.scans[0].volumes.images", (click)="visitVolume(volume)")
       | {{ volume.number }}
