extends ../layout/partial

block billboard
  | Collections

block content
   ul.qi-main-list(ng-repeat="collection in collections | orderBy:'name'")
     li
      .qi-inline-heading.qi-collection-name
        a(ui-sref="quip.collection.detail({project: collection.project, collection: collection.name.toLowerCase()})")
          | {{ collection.name }}
      span : {{ collection.description }}
      button.btn.btn-med.qi-profile-btn(
          ng-click="open(collection.url)"
        )
          .glyphicon.glyphicon-info-sign()

block help-text
  // The nested quote ensures evaluation to a string rather than
  // a scope variable.
  .qi-help-text(ng-include="'/partials/help/collection-list.html'")


