//**  The general chart styles. **//

.qi-chart-row
  // Undo the Bootstrap -15px margin offsets.
  margin 0 0 0 0

.qi-chart
  padding 2px
  margin 2px
  font-size smaller
  font-family sans-serif
  background-color SteelBlue
