[qi-scatter-plot] .legend
  font-size smaller
  fill RebeccaPurple

//** The Collection Detail page styles. **//
qi-collection-correlation
  // The select groups are in a row.
  & > qi-cascade-select
    display inline-block
    // The first select group is aligned over the axis.
    &:first-child
      padding-left 0
    // Nested selects are stacked vertically under the parent.
    & > qi-cascade-select
      display block
