//**  The general-purpose styles. **//

@require 'helpers'

.qi-title
  color Indigo
  font-weight bold
  white-space nowrap

.qi-x-smaller
  font-size 75%

.qi-emphasis
  font-style italic

.qi-text-right
  text-align right

// Dates and numbers should be center-aligned.
.qi-date, .qi-number, .qi-text-center
  text-align center

.qi-pct
  padding-right 2em
  text-align right

.qi-inline
  display inline

.qi-align-top
  vertical-align top

.qi-align-middle
  vertical-align middle

// See the clean-list helper for a description.
ul.qi-clean-list
  clean-list()

// The pop-up panel is shown on the right side of the window
// in a rounded rectangle box.
.qi-popup
  // The z-index is set to a high number so it is always in
  // front, e.g. of the volume page image display.
  z-index 110
  background OldLace
  border 1px solid Brown
  border-radius 0.4em 0.4em 0.4em 0.4em
  padding 0.5em
  position fixed
  right 1em
  max-height 80%
  overflow-y auto
  qi-transition(linear, med-transition)

// The close icon is on the top right of the pop-up panel.
.qi-popup-close
  text-align right
  width 100%
  padding-right 1em
  cursor pointer

.qi-transparent
  background transparent

.qi-separator-faint
  border 1px solid Lavender

// Make some room at the top.
.qi-top-space
  margin-top 0.5em

// Make some room at the left.
.qi-left-space
  margin-left 0.5em

// Make some room at the right.
.qi-right-space
  margin-right 0.5em

// Make some room at the bottom.
.qi-bottom-space
  margin-bottom 0.5em

// Add some vertical space between successive elements.
.qi-vertical-space + .qi-vertical-space
  margin-top 0.5em

// Add some horizontal space between successive elements.
.qi-horizontal-space + .qi-horizontal-space
  margin-left 0.5em

.qi-pad-top
  padding-top 1em

.qi-inline
  display inline-block

// Simulates an anchor style.
.qi-clickable
  color DarkMagenta
  &:hover
    cursor pointer
    color Chocolate

// Override the bootstrap button as follows:
// * remove the border and outline
// * add color
// * change the padding from the bulky 6px 12px
//   to the compact 2px 4px.
.qi-btn
  border 0
  background-color Moccasin
  &:hover
    background-color Chocolate
    cursor pointer
  &:focus, &:active
    outline none
    background-color Moccasin

// A mini-help button is placed to the right of the
// reference element. This style augments .qi-btn
// to reduce the button size by padding the icon text.
.qi-minihelp-btn
  padding 0.2em

// Override .qi-btn to change the colors and preserve
// highlighting on click.
.qi-btn-radio
  background-color Aquamarine
  &:hover
    background-color DarkSeaGreen
  &:focus, &.active
    border 2px solid DarkSeaGreen
    color White
    background-color DarkOliveGreen
  &.disabled
    background-color Aquamarine

.qi-radio-row
  display inline-block
  & span, .col
    float left
    display block
  & span
    margin 2px 0.5em 0 0
  & label
    padding 2px 2px 0 0
  & input[type=radio], input.radio
    margin 2px 0 0 2px
  & .col + .col
    margin-left 2em

.qi-modal-table tr
  font-size smaller

.qi-inset
  text-align left
  padding-left 0.5em

.qi-panel
  border 1px solid SlateGray
  border-radius: 0.4em
  margin 2px

  // .panel-body is a Bootstrap style. Thus, any
  // Bootstrap panel within a .qi-panel will be
  // a context for the .qi-nested style to take
  // effect.
  & .panel-body
    background-color DarkTurquoise
    & .qi-nested
      background-color PaleTurquoise
      & .qi-nested
        background-color LightSeaGreen
        & .qi-nested
          background-color Azure
          & .qi-nested
            background-color DarkTurquoise

  // A pale panel softens the panel body background
  // for darker content.
  & .qi-pale .panel-body
    background-color AliceBlue
  & .qi-dusky .panel-body
    background-color DarkSlateBlue

// The nested style adds an offset.
.qi-nested
  padding 0.5em

// Impart table cell mojo without the table structural cruft.
.qi-cell
  display table-cell
  vertical-align middle

// A row with evenly-spaced, centered cells.
.qi-even-row
  text-align center
  table-layout fixed

// The standard qiprofile data table style.
// This style should be used in conjunction with the bootstrap
// .table style on the table element , e.g.:
//    table.table.qi-table
// .qi-table augments and overrides the bootstrap .table style
// as follows:
// * width is auto rather than 100%
// * there is no table border
// * the bottom margin is removed (spacing is the table
//   container responsibility instead)
// * cells have a thin light brown border
// * headings are bold against a background
// * column groups are delineated by a thin silver line
.qi-table
  width auto
  margin-bottom 0
  border 0
  & th, td
    border 1px solid BurlyWood
  & th
    background-color Bisque
    font-weight bold
    text-align center
    white-space nowrap
  & td
    background-color White
    // The table data cell has slight vertical padding.
    // Horizontal formatting is the page responsibility.
    padding-top 0.2em
    padding-bottom 0.2em
    &.qi-transparent
      // Blend in with the panel background.
      border 0
      background-color inherit
  & colgroup + colgroup
    border-left 0.2em solid Silver

.qi-spaced-table
  // Space adjacent rows.
  border 0
  border-collapse separate
  border-spacing 0 0.5em

// Scrunch cells together even more than the bootstrap
// .table-condensed style.
table.table.qi-table-super-condensed
  thead > tr > th
    padding 0 2px 0 2px
  tbody > tr > td
    padding 2px

// Remove table and cell borders when used in
// conjunction with the bootstrap .table style.
table.qi-borderless
  border 0
  & > tr > td
    border 0

// Underline table headings.
thead.qi-thead-underlined
  & > tr > th
    border-bottom 0
    text-decoration underline

.qi-table-title
  font-size larger
  font-style italic
  margin-left 0.5 em

// Horizontal list with justified items.
ul.qi-horizontal-list
  // The negative bottom margin corrects for the spacing
  // injected after the list.
  margin-bottom -1.2em
  text-align justify
  list-style none
  & li
    display inline-block
  &:after
    empty-line()

.qi-horizontal
  width 100%

.qi-vertical
  height 100%

// Align at the top.
.qi-top
  position absolute
  top 0

// Align at the bottom.
.qi-bottom
  position absolute
  bottom 0

.qi-left
  position absolute
  left 0

.qi-right
  position absolute
  right 0

// A general-purpose style for centering a div within
// a div without prescribing a fixed width is surprisingly
// elusive. The incantation below seems to do the trick.
.qi-center
  display table
  margin 0 auto

qi-correlation > qi-cascade-select
  display inline-block
  // The first select group is aligned over the axis.
  &:first-child
    padding-left 0
