//**  The general-purpose styles. **//

@require 'helpers'

.qi-title
  color Indigo

.qi-smaller
  font-size smaller

// Note: mx-auto doesn't always center text, e.g. it has no
// effect with the collection.pug dates chart title. A
// general-purpose style for centering a div within a div
// without prescribing a fixed width is surprisingly elusive.
// The incantation below seems to do the trick.
.qi-center
  display table
  margin 0 auto

.qi-emphasis
  font-style italic

.qi-align-top
  vertical-align top

// See the clean-list helper for a description.
ul.qi-clean-list
  clean-list()

// The pop-up panel is shown on the right side of the window
// in a rounded rectangle box.
.qi-popup
  // The z-index is set to a high number so it is always in
  // front, e.g. of the volume page image display.
  z-index 110
  background OldLace
  border 1px solid Brown
  border-radius 0.4em 0.4em 0.4em 0.4em
  padding 0.5em
  position fixed
  right 1em
  max-height 80%
  overflow-y auto
  qi-transition(linear, med-transition)

// Override the standard Bootstrap dialog close button
// colors.
.modal-dialog button.close
  // Undo the Bootstrap opacity.
  opacity 1
  // Apply .qi-btn colors but with a slightly darker
  // base.
  color GoldenRod
  &:hover
    color Chocolate
  &:focus, &:active
    color GoldenRod

// The close icon is on the top right of the pop-up panel.
.qi-popup-close
  text-align right
  width 100%
  padding-right 1em
  cursor pointer

.qi-transparent
  background transparent

.qi-separator-faint
  border 1px solid Lavender

// Add some vertical space between successive elements.
.qi-y-spacer + .qi-y-spacer
  margin-top 0.5em

// Add some horizontal space between successive elements.
.qi-x-spacer + .qi-x-spacer
  margin-left 0.5em

// Emulate the base <a> style.
.qi-clickable
  hyperlink()

// Override the bootstrap button as follows:
// * remove the border and outline
// * add color
// * change the padding from the bulky 6px 12px
//   to the compact 2px 4px.
.qi-btn, .qi-btn-group button
  padding .2em
  border 0
  background-color Moccasin
  &:hover
    background-color Chocolate
    cursor pointer
  &:focus, &:active
    outline none

// A mini-help button is placed to the right of the
// reference element. This style augments .qi-btn
// to reduce the button size by padding the icon text.
.qi-minihelp-btn
  padding .2em

// Override .qi-btn to change the colors and preserve
// highlighting on click.
.qi-btn-radio
  background-color Aquamarine
  &:hover
    background-color DarkSeaGreen
  &:focus, &.active
    border 2px solid DarkSeaGreen
    color White
    background-color DarkOliveGreen
  &.disabled
    background-color Aquamarine

.qi-radio-row
  display inline-block
  & span, .col
    float left
    display block
  & span
    margin 2px 0.5em 0 0
  & label
    padding 2px 2px 0 0
  & input[type=radio], input.radio
    margin 2px 0 0 2px
  & .col + .col
    margin-left 2em

.qi-panel
  background-color AliceBlue
  padding 0.5em

// The table panel style adds background color to offset
// the table. Nested tables have distinguishing colors.
.qi-table-panel
  background-color DarkTurquoise
  & .qi-table-panel
    background-color PaleTurquoise
    & .qi-table-panel
      background-color LightSeaGreen
      & .qi-table-panel
        background-color Azure
        & .qi-table-panel
          background-color MediumTurquoise
  // A pale panel softens the panel body background
  // for darker content.
  & .qi-pale .card-block
    background-color AliceBlue

.qi-dusky
  background-color DarkSlateBlue

// Impart table cell mojo without the table structural cruft.
.qi-cell
  display table-cell
  vertical-align middle

// The standard qiprofile data table style.
// This style should be used in conjunction with the bootstrap
// .table style on the table element , e.g.:
//    table.table.qi-table
// .qi-table augments and overrides the bootstrap .table style
// as follows:
// * width is auto rather than 100%
// * there is no table border
// * the bottom margin is removed (spacing is the table
//   container responsibility instead)
// * cells have a thin light brown border
// * headings are bold against a background
// * column groups are delineated by a thin silver line
.qi-table
  width auto
  margin-bottom 0
  border 0
  // Reduce the Bootstrap table data cell vertical padding
  // from 0.75em to 0.2em. Bootstrap horizontal formatting
  // is retained. The table cells have a thin brown border.
  & th, td
    border 1px solid BurlyWood
    padding-top 0.2em
    padding-bottom 0.2em
  // The heading is distinguished by a darker color and
  // bold text.
  & th
    background-color Bisque
    font-weight bold
    text-align center
    white-space nowrap
  & td
    background-color White
    // qi-transparent blends in with the panel background.
    &.qi-transparent
      border 0
      background-color transparent
  // Separate column groups with a thin silver vertical line.
  & colgroup + colgroup
    border-left 0.2em solid Silver

.qi-spaced-table
  // Space adjacent rows.
  border-collapse separate
  border-spacing 0 0.5em

// Scrunch cells together even more than the bootstrap
// .table-condensed style.
table.table.qi-table-super-condensed
  thead > tr > th
    padding 0 2px 0 2px
  tbody > tr > td
    padding 2px

// Remove table and cell borders when used in
// conjunction with the bootstrap .table style.
table.qi-borderless
  border 0
  & > tr > td
    border 0

// Underline table headings.
thead.qi-thead-underlined
  & > tr > th
    border-bottom 0
    text-decoration underline

.qi-table-title
  font-size larger
  font-style italic
  margin-left 0.5 em

// Horizontal list with justified items.
ul.qi-horizontal-list
  // The negative bottom margin corrects for the spacing
  // injected after the list.
  margin-bottom -1.2em
  text-align justify
  list-style none
  & li
    display inline-block
  &:after
    empty-line()

.qi-horizontal
  position relative
  width 100%

.qi-vertical
  position relative
  height 100%

// Align at the top.
.qi-top
  position absolute
  top 0

// Align at the bottom.
.qi-bottom
  position absolute
  bottom 0

.qi-left
  position absolute
  left 0

.qi-right
  position absolute
  right 0

qi-correlation > qi-cascade-select
  display inline-block
  // The first select group is aligned over the axis.
  &:first-child
    padding-left 0
