//**  The Image Display styles. **//

// Full height 60% width centered with a light background. The
// background is adapted from
// http://stackoverflow.com/questions/14628601/can-i-add-background-color-only-for-padding.
.qi-papaya-parent
  height 100%
  padding 0 20% 0 20%
  background-image linear-gradient(#000, #000), linear-gradient(Lavender, Lavender)
  background-clip content-box, padding-box

// The default papaya style has a nearly invisible menu when papaya is embedded.
// Override with a better text color.
.papaya-menu-label
  color CadetBlue

.papaya-toolbar
  background-color MintCream
  // Clobber the File menu item.
  // Note: the #File selector is untenable, since for some reason the id
  // changes to File1 when the page is revisited via a forward or back.
  // Therefore, use the first child selector instead.
  & span:first-child
    display none

.papaya-display
  background-color MintCream

// Replace the unhelpful Papaya initializing message
// and tone down the in-your-face status font.
.papaya:before
    content: 'Initializing...'
    color: MintCream
    font-size: 100%
