//**  The navigation styles. **//

.qi-nav-btn
  color Black
  background-image none
  border 0
  padding 0.2em 0.4em 0.2em 0.4em

.qi-navbar
  margin-bottom 0
  // Undo the Bootstrap .navbar padding.
  padding 0
  background url('/static/media/header-bg.gif') repeat
  // The brand is big, brown and compact.
  & .qi-brand
    letter-spacing -.05em
    color SandyBrown
    font-size 1.6em
    // Undo the Bootstrap .navbar-brand padding.
    padding 0
    // For some reason, hovering over the brand switches the color
    // to black. Force it back to the correct color.
    &:hover
      color SandyBrown
    & .qi-logo
      float left
      margin 0 0 0 0.2em
  & .navbar-nav
    & .nav-item
      // Give navbar items breathing room.
      margin 0.2em 0.5em 0.2em 0
      & .qi-btn
        color Black
        background-image none
        padding 0.2em 0.4em 0.2em 0.4em
        border 0
        // The color is forced in order to retain the color when the help
        // button is pressed. Setting the .active or :active style has no
        // effect.
        background-color Moccasin !important
        &:hover
          background-color Chocolate !important
