//**  The Main content styles. **//

@require 'helpers'

@require 'animation'

@require 'navigation'

.qi-body
  background-color WhiteSmoke

// The billboard appears directly under the header.
// Unlike the header, it is a body page subelement
// with dynamic content. The size is slightly less
// than the header brand. The line height is reduced
// from the body 1.5 to normal.
.qi-billboard
  background MediumSlateBlue
  color LightGoldenRodYellow
  border-bottom 0.4em solid DarkBlue
  text-indent 1em
  line-height normal
  font-size 1.4em

.qi-main
  margin 0.5em 0 0 0

.qi-content
  position relative

.qi-main-list
  clean-list()

.qi-error-remedy
  font-family sans-serif
  font-style italic
  text-align center
  color IndianRed

// Align under the close icon.
.qi-error-right
  padding-right 1em
  & img
    float right

// The help panel specializes the .qi-popup panel.
.qi-help
  // Scooch up the bottom a bit to allow the special
  // over-under (Sugg/Qu)estion Box text to spill down
  // over the baseline.
  padding-bottom 1em
  // Don't make the help panel too obtrusive.
  width 30%

.qi-help-text
  // Downsize headers
  for n in 1 2 3 4 5
    h{n}
      font-size (125% - (5 * n))
      text-decoration underline
  // Reduce the largish .btn in-line padding.
  & .qi-btn
    padding 2px 5px

.qi-contact-info
  padding-top 1em

.qi-footer
  margin-top 1em
  border-top 1px solid SlateGray
  & p.qi-legal
    padding 1em 0
    text-align center
    color DimGray
    font-size x-small
    & span.fa-copyright-mark
      padding 0 0.2em 0 0.2em
