//**  The Session Detail styles. **//

@require 'helpers'

.qi-gradient
  // Add margins.
  margin-left 2em

.qi-gradient-chart
  // Allow room for the image selection label below
  // the chart. The time points align with the image
  // select buttons.
  height 22em
  width 100%
