//**  The Subject Detail styles. **//

// The modeling profile styles.
@require 'modeling'

// The clinical profile styles.
@require 'clinical'

// The time line styles.
qi-subject [qiTimeLine] svg.time-line
  margin 0 1em
  & .biopsy
    fill Coral
  & .surgery
    fill Gold
  & .session
    fill MediumSpringGreen
  & .neoadjuvant
    fill HotPink
  & .primary
    fill DarkOrange
  & .adjuvant
    fill LightCyan

  & .x.axis
    stroke MistyRose
    & path
      stroke inherit
    & .tick
      stroke inherit
      & > line
        stroke inherit
      & > text
        font-size larger
        font-weight lighter
