[qi-spark-line]
  & path
    stroke: SteelBlue
    stroke-width: 2
    fill: none
  & .guide
    stroke DarkSlateGray
    stroke-dasharray 3, 3

[qi-scatter-plot]
  & .trendline
    stroke DarkSlateGray
    stroke-dasharray: 4, 4
  & .r-squared
    font-size smaller
    fill DarkSlateGray
