[qi-spark-line]
  & path
    stroke: SteelBlue
    stroke-width: 2
    fill: none
  & .guide
    stroke DarkSlateGray
    stroke-dasharray 3, 3

[qi-scatter-plot]
  & .trendline
    stroke DarkSlateGray
    stroke-dasharray: 4, 4
  & .r-squared
    font-size smaller
    font-weight bold
    fill DarkSlateGray
  // Undo the bootstrap checkbox margin setting.
  & input[type='checkbox']
    margin 0

// The time line styles.
[qi-time-line] svg.time-line
  & .plot text.point
    text-anchor middle
