// Because Papaya positions absolutely based on calculated dimensions,
// the choosers must also be absolute.

.qi-volume-chooser-left
  position absolute
  top 0
  left 0
  margin 7em 5% 4em 10%

.qi-volume-chooser-right
  position absolute
  top 0
  right 0
  //margin 8em 10% 4em 5%
