// Because Papaya positions absolutely based on calculated dimensions,
// the choosers must also be absolute.

.qi-volume-chooser
  display inline-block
  color DarkCyan

.qi-time-series
  color DarkCyan
  & .qi-title
    text-align center
  & .qi-left
    top 0
    left 8%
    & [qi-slider]
      // The right margin centers the slider in the
      // vertical chooser.
      margin 1em 0 1em 12px
    // Position the middle button of the player below
    // the vertical slider handle.
    // For some reason, positioning the player itself has
    // no effect, but positioning the buttons does.
    // The selector below is stolen from bootstrap.
    // The margin value is a goldilocks value with no
    // discernible rationale.
    & .btn-group > .btn:first-child
      margin-left -32px

  & .qi-right
    top 0
    width 20%
    // Note: attempts to center the right chooser buttons were
    // unsuccessful, so the buttons left align, which happens
    // to center the buttons for 3-4 visits.
    & .qi-volume-chooser
      // The chooser must at least accomodate the player
      // button group, which is 65 pixels.
      min-width 65px
      position absolute
      left 30%
      // Add space above and below because the slider handle
      // bulges out of the space allotted to the slider. Also,
      // the slider allows for pips but not for the pip text,
      // so add extra room at the bottom.
      & [qi-slider]
        margin 0.5em 0 3em 0

    // The intensity gradients are placed near the bottom of
    // the right gutter.
    & .qi-volume-intensity-gradients
      position absolute
      bottom 0
      margin 2px

// The physical gradient has a mid-point guide line and
// a color for each orientation.
.qi-physical-gradient
  margin 0.5em
  & .guide
    stroke DarkSlateGray
    stroke-dasharray 3, 3
  & .legend
    font-size smaller
    text-align center
    & text.axial
      fill Indigo
    & text.sagittal
      fill ForestGreen
    & text.coronal
      fill DarkOrange
  & [qi-spark-line] path
    &.axial
      stroke Indigo
    &.sagittal
      stroke ForestGreen
    &.coronal
      stroke DarkOrange

.qi-time-point-gradient
  margin 0.5em
