// Because Papaya positions absolutely based on calculated dimensions,
// the choosers must also be absolute.

.qi-volume-chooser
  display inline-block
  color DarkCyan

.qi-time-series
  color DarkCyan
  & .qi-title
    text-align center
  // Make the buttons stand out.
  & .qi-btn-group button
    background-color RoyalBlue
    &:focus
      outline none
  // The left side time point chooser.
  & .qi-left
    top 0
    left 5%
    margin-top 0.5em
    & [qiSlider]
      // Center the slider in the vertical chooser.
      margin 0.5em auto 1.2em auto
      // Center the player under slider. margin auto
      // has no effect, so push it a little to the
      // left by a Goldilocks alignment factor.
      & + qi-player
        margin-left 0.4em
  // The right side session chooser and gradient spark lines.
  & .qi-right
    top 0
    margin-top 0.5em
    width 20%
    // Note: attempts to center the right chooser buttons were
    // unsuccessful, so the buttons left align, which happens
    // to center the buttons for 3-4 visits.
    & .qi-volume-chooser
      // The chooser must at least accomodate the player
      // button group, which is 65 pixels.
      min-width 65px
      position absolute
      left 30%
      // Add space above the player to accomodate the slider
      // pips spill-over described in controls.styl. However,
      // adding the margin to the qi-player as described in
      // the controls.styl work-around encounters the
      // following bug:
      // * qi-player margins are not respected and have no
      //   effect.
      // The work-around to the work-around is to add the
      // margin below the slider instead.
      & [qiSlider]
        margin-bottom 2.5em

    // The intensity gradients are placed near the bottom of
    // the right gutter.
    & .qi-volume-intensity-gradients
      position absolute
      bottom 0.5em
      margin 0.5em
      // Separate adjacent gradient subpanels with a thin line.
      & .qi-panel + .qi-panel
        border-top 1px solid DarkSlateBlue

// The physical gradient has a mid-point guide line and
// a color for each orientation.
.qi-physical-gradient
  margin 0.5em
  & .legend
    font-size smaller
    text-align center
    & text.axial
      fill Indigo
    & text.sagittal
      fill ForestGreen
    & text.coronal
      fill DarkOrange
  & [qiSparkLine] path
    &.axial
      stroke Indigo
    &.sagittal
      stroke ForestGreen
    &.coronal
      stroke DarkOrange

.qi-time-point-gradient
  margin 0.5em

.qi-pseudo-papaya-button
  background-color LightGray
  border 1
  border-style ridge
