// Previous volume.
button.btn.btn-default.btn-med.qi-btn(
  type='button', (click)="onPrevious()"
)
  .glyphicon.glyphicon-step-backward
// Cycle over the volumes.
button.btn.btn-default.btn-med.qi-btn(
  type='button', (click)="togglePlay()"
)
  .glyphicon.glyphicon-play(*ngIf="!isPlaying")
  .glyphicon.glyphicon-pause(*ngIf="isPlaying")
// Next volume.
button.btn.btn-default.btn-med.qi-btn(
  type='button', (click)="onNext()"
)
  .glyphicon.glyphicon-step-forward
