// Previous value.
button.cell.btn.btn-default.btn-sm.qi-btn(
  type='button', (click)="onPrevious()"
)
  .glyphicon.glyphicon-step-backward

// Cycle over the values.
button.cell.btn.btn-default.btn-sm.qi-btn(
  type='button', (click)="togglePlay()"
)
  .glyphicon.glyphicon-play(*ngIf="!isPlaying")
  .glyphicon.glyphicon-pause(*ngIf="isPlaying")

// Next value.
button.cell.btn.btn-default.btn-sm.qi-btn(
  type='button', (click)="onNext()"
)
  .glyphicon.glyphicon-step-forward
