// Go back.
button.btn.btn-default.btn-med.qi-btn(
  type='button', (click)="previousTick()"
)
  .glyphicon.glyphicon-step-backward
// Play.
button.btn.btn-default.btn-med.qi-btn(
  type='button', [disabled]="!isEnabled", (click)="togglePlay()"
)
  .glyphicon.glyphicon-play(*ngIf="!isPlaying")
  .glyphicon.glyphicon-pause(*ngIf="isPlaying")
// Advance.
button.btn.btn-default.btn-med.qi-btn(
  type='button', (click)="nextTick()"
)
  .glyphicon.glyphicon-step-forward
