span.qi-table-title Genetic Expression

.qi-panel.qi-nested
  qi-property-table.qi-vertical-space.qi-spaced-table(
    [object]="tumor.geneticExpression",
    [path]="'subject.biopsy.pathology.tumors[0].geneticExpression'",
    [exclude]=['tumor', 'normalizedAssay'],
    [label]="genomicsLabel"
  )

  .qi-vertical-space(*ngIf="has(tumor.geneticExpression.normalizedAssay)")
    include breast-gene-assay
