span.qi-table-title Normalized Assay

.qi-panel.qi-nested
  table.table.qi-table.qi-spaced-table(
    *ngIf="has(tumor.geneticExpression.normalizedAssay.recurrenceScore)"
  )
    tr
      th Recurrence Score
      td {{ tumor.geneticExpression.normalizedAssay.recurrenceScore }}
      td.qi-transparent
        button.btn.btn-med.qi-btn.qi-minihelp-btn(
          (click)="openRecurrenceScoreHelp()"
        )
          .glyphicon.glyphicon-question-sign

  qi-property-table(
    [object]="tumor.geneticExpression.normalizedAssay",
    [path]="'subject.biopsy.pathology.tumors[0].geneticExpression.normalizedAssay'",
    [exclude]="recurrenceScore", [label]="label"
  )
