h4.qi-profile-heading Clinical Profile
.qi-panel
  // Note: even though expandAll is set to true, each
  // accordion group must also set isOpened to true
  // (cf. https://github.com/pleerock/ng2-accordion/issues/13).
  accordion([showArrows]=true, [expandAll]=true)
    // The Demographics table.
    accordion-group([heading]="'Demographics'")
      include demographics

    // The encounter tables.
    div(*ngFor="let encounter of subject.clinicalEncounters")
      accordion-group([heading]="encounter.title", [isOpened]=true)
        include clinical-encounter

    //- TODO - enable.
    //- // The treatments tables.
    //- accordion-group(*ngFor="let treatment in subject.treatments",
    //-   [heading]="treatment.title", [isOpened]=true
    //- )
    //-   include treatment
