.qi-table-title FNCLCC Grade

table.table.qi-table
  tr
    th Differentiation
    td {{ tumor.tnm.grade.differentiation }}
  tr
    th Mitotic Count
    td {{ tumor.tnm.grade.mitoticCount }}
  tr
    th Necrosis
    td {{ tumor.tnm.grade.necrosis_score }}
