// This imaging profile partial displays the timeline,
// session numbers, preview images and modeling results.

span.qi-panel-title Imaging Profile

ngb-accordion(
  #acc='ngbAccordion',
  activeIds='timeline, sessions, modeling',
  (panelChange)="onPanelChange($event)"
)
  ngb-panel#timeline
    template(ngbPanelTitle)
      span Patient Timeline
      i.fa.fa-caret-up.qi-smaller(
        *ngIf="isPanelOpen('timeline')"
      )
      i.fa.fa-caret-down.qi-smaller(
        *ngIf="!isPanelOpen('timeline')"
      )
    template(ngbPanelContent)
      include timeline

  ngb-panel#sessions
    template(ngbPanelTitle)
      include visits-title
    template(ngbPanelContent)
      include visits-content

  ngb-panel#modeling
    template(ngbPanelTitle)
      span Pharmacokinetic Modeling
      // The accordion fold icon.
      i.fa.fa-caret-up.qi-smaller(
        *ngIf="isPanelOpen('modeling')"
      )
      i.fa.fa-caret-down.qi-smaller(
        *ngIf="!isPanelOpen('modeling')"
      )
    template(ngbPanelContent)
      include modelings
