// This modeling partial displays the modeling results under
// the previews.pug session dates and previews.

// There is one modeling result per session. The modeling
// results array is in session order.
- var colClass = "col-md-{{ (12 / subject.sessions.length) | floor }}";

.row(*ngFor="let modeling of subject.modelings")
  .col-md-2.qi-pad-top
    span {{ modeling.source.type | capitalize }}
    button.btn.btn-med.qi-btn.qi-minihelp-btn(
      (click)="openModelingInfo(modeling)"
    )
      .glyphicon.glyphicon-info-sign
  .col-md-10
    .table
      .row.qi-even-row
        div(class=colClass, *ngFor="let results of modeling.results")
          qi-property-table(
            [object]="results",
            [path]="'scanModeling.intensities'",
            [label]="label",
            [format]="formatModelingResult"
          )
