// The modeling results.
.qi-panel(*ngIf="has(subject.modelings)")
  h4.panel-title Pharmokinetic Modeling
  div(*ngSwitch="subject.sessions.length")
    qi-property-table(
      *ngSwitchCase=1,
      // TODO - show all modelings.
      [object]="subject.modelings[0].intensities",
      [path]="'scanModeling.modelingResult'",
      [title]="'Modeling Result'",
      [label]="label"
    )
  div(*ngSwitchDefault)
    include modeling-results
