// This modeling partial displays the modeling results.

.qi-even-row(*ngFor="let modelings of subject.modelings")
  .qi-cell {{ modelings.source.type }}
  .qi-cell(*ngFor="let results of modelings.results")
    qi-property-table(
      [object]="results",
      [path]="'scanModeling.intensities'",
      [label]="label",
      [format]="formatModelingResult"
    )
