// This preview partial shows the visit dates and previews.

.px-1
  // The imaging session dates.
  .row
    .col-md-2
      span Visit Date
    .col-md-10
      .row.no-gutters
        .col(*ngFor="let session of subject.sessions")
          span.qi-center.qi-clickable((click)="visitSession(session)")
            | {{ session.date | moment }}

  // The scan previews, if available.
  .row(*ngIf="subject.hasPreviews()")
    // .qi-pad-top is a kludge to push the label down.
    // Vertical centering w.r.t. to the row is preferred,
    // but various attempts to do so were unsuccessful.
    .col-md-2.qi-pad-top
      span Preview
      button.btn.qi-btn.qi-minihelp-btn(
        (click)="openPreviewsHelp()"
      )
        i.fa.fa-question-circle
    .col-md-10
      .row.no-gutters
        .col(*ngFor="let session of subject.sessions")
          img.qi-center.qi-clickable(
            *ngIf="has(session.preview)",
            (click)="visitSession(session)",
            src="{{ location(session.preview.image) }}",
            width=100, height=100
          )
