// The patient encounters and treatments time line.
// [data] resolves to an array,
// [[legend] resolves to an object,
// [text] resolves to a function,
// [value] and [axis] resolve to a literal,
// and [class] resolves to either a function or a literal.

.qi-panel.qi-dusky(
  qiTimeLine, [width]="timeLineWidth",
  [data]="{encounter: encounters, treatment: treatments}",
  [value]="{encounter: 'date', treatment: 'span'}",
  [class]="{encounter: encounterDataClass, treatment: 'treatmentType'}",
  [text]="timeLineText",
  [legend]="legend"
)
