// The visits help button.
button.btn.btn-secondary.qi-btn.qi-minihelp-btn(
  type='button',
  [ngbPopover]="help",
  popoverTitle='Patient Timeline Help',
  container='body',
  placement='right'
)
  i.fa.fa-question-circle
<template #help>
  p
    | The Patient Timeline shows the MR sessions in the context
    | of the patient encounters and treatments. The timeline starts
    | with the first encounter or treatment date and ends with the
    | latest such date, or today if a treatment is ongoing. The
    | encounters are displayed as the &nabla; symbol, the
    | treatments are solid bars, and the imaging sessions are
    | represented by the sequential session number.
</template>
