.qi-table-title Tumor Extent (mm)

.qi-panel.qi-nested
  .qi-vertical-space
    table.table.qi-table
      tr(*ngIf="has(tumor.extent.tumorLength)")
        th Length
        td {{ tumor.extent.tumorLength }} mm
      tr(*ngIf="has(tumor.extent.tumorWidth)")
        th Width
        td {{ tumor.extent.tumorWidth }} mm
      tr(*ngIf="has(tumor.extent.tumorDepth)")
        th Depth
        td {{ tumor.extent.tumorDepth }} mm
