// The visits help button.
button.btn.btn-secondary.qi-btn.qi-minihelp-btn(
  type='button',
  [ngbPopover]="help",
  popoverTitle='Imaging Visits Help',
  container='body',
  placement='right'
)
  i.fa.fa-question-circle
<ng-template #help>
  p
    | There is a preview image on the right for each imaging session.
    | The session scan slice with maximal ROI intensity is cropped to
    | focus on the tumor progression.
  p
    | Clicking on either the imaging session date or the preview
    | opens the detail page for that session.
</ng-template>
