// This partial shows the visit dates and previews.

.qi-panel
  .row
    // A slightly rogue help button just off the left-hand
    // side of the row.
    .float-left.pl-3(*ngIf="subject.hasPreviews()")
      include visits-help
    // The row proper has one column for each session.
    .col(*ngFor="let session of subject.sessions")
      .text-center.qi-clickable((click)="visitSession(session)")
        | {{ session.date | moment }}
      img.qi-center.qi-clickable(
        *ngIf="has(session.preview)",
        (click)="visitSession(session)",
        src="{{ location(session.preview.image) }}",
        width=100, height=100
      )
