// The modeling source properties sheet.
table.table.qi-table.qi-spaced-table
  tr
    th Source
    td
      span {{ modeling.source.type | capitalize }}
      button.btn.btn-med.qi-btn.qi-minihelp-btn(
        (click)="openProtocolInfo()"
      )
        .glyphicon.glyphicon-info-sign()

  //- tr(ng-repeat="(name, value) in modeling.protocol.inputParameters")
  //-   th {{ name | underscore }}
  //-   td {{ value }}
