// The modeling meta-data and results.

// The modeling meta-data.
ul.pl-3.pt-3.list-inline
  // The modeling source.
  li.list-inline-item
    qi-modeling-source(
      [type]="modeling.source.type",
      [protocol]="sourceProtocol | async"
    )
  // The modeling protocol.
  li.list-inline-item
    qi-modeling-protocol(
      [protocol]="modelingProtocol | async"
    )

  // The modeling results.
.qi-panel.qi-table-panel
  // Push the row over to align under the visit dates
  // and previews. The visits panel has a preceding
  // mini-help button. .pl-4 below offsets the row to
  // align under this offset.
  .row.no-gutters.pl-4
    .col(*ngFor="let results of modeling.results")
      qi-property-table.qi-center(
        [object]="results",
        [path]="'scanModeling.intensities'",
        [label]="label",
        [format]="formatModelingResult"
      )
