// The modeling source and results.

.qi-panel.qi-table-panel
  .row
    // The modeling protocol button.
    .col-md-2.qi-pad-top
      span {{ modeling.source.type | capitalize }}
      button.btn.btn-secondary.qi-btn.qi-minihelp-btn(
        type='button',
        [ngbPopover]="modelingInfo",
        popoverTitle='Modeling Information',
        container='body',
        placement='right'
      )
        i.fa.fa-info-circle
      // The modeling protocol content.
      <template #modelingInfo>
        include modeling-info
      </template>

    // The modeling results.
    .col-md-10
      .row.no-gutters
        .col(*ngFor="let results of modeling.results")
          qi-property-table(
            [object]="results",
            [path]="'scanModeling.intensities'",
            [label]="label",
            [format]="formatModelingResult"
          )
