// The modeling source and input parameters property sheet.

// The one-row source table waits on the modeling protocol.
.qi-table-panel
  table.table.qi-table
    tr
      th Source
      td
        // The source type.
        span {{ modeling.source.type | capitalize }}
        // The source protocol button.
        button.btn.btn-secondary.qi-btn.qi-minihelp-btn(
          type='button',
          [ngbPopover]='sourceProtocol',
          popoverTitle="{{ modeling.source.type | capitalize }} Protocol",
          placement='right'
        )
          i.fa.fa-info-circle
        // The source protocol content.
        <template #sourceProtocol>
          qi-protocol([protocolId]="modeling.source.protocol")
        </template>

  // The modeling protocol property sheet.
  qi-protocol(
    [protocolId]="modeling.protocol"
  )
