div(*ngIf="protocol")
  .d-inline-block.qi-title Technique:
  .d-inline-block {{ protocol.technique }}
  .d-inline-block
    button.btn.btn-secondary.qi-btn.qi-minihelp-btn(
      type='button',
      (click)="open(properties)"
    )
      i.fa.fa-info-circle
    // The protocol property sheet.
    // let-d is the obscure Angular idiom for placing
    // the modal dismiss function in the lexical scope.
    <template #properties let-d="dismiss">
      .modal-header
        span.modal-title Modeling Protocol
        button.close((click)="d('Click')")
          i.fa.fa-close
      .modal-body.qi-table-panel
        qi-property-table([object]="protocol", [label]="label")
    </template>
