// Wait until the protocol is fetched.
// Note: this should not be necessary, since modeling.pug
// runs modelingProtocol through the async filter,
// but that filter apparently lets a null protocol
// slip through.
div(*ngIf="protocol")
  // The modeling protocol button.
  h6.d-inline.qi-title Technique:
  .d-inline {{ protocol.technique }}
  .d-inline
    button.btn.btn-secondary.qi-btn.qi-minihelp-btn(
      type='button',
      (click)="open(properties)"
    )
      i.fa.fa-info-circle

  // The modeling protocol property sheet.
  <ng-template #properties let-d="dismiss">
    .modal-header
      span.modal-title Modeling Protocol
      button.close((click)="d('Click')")
        i.fa.fa-close
    .modal-body.qi-table-panel
      qi-property-table([object]="protocol", [label]="label")
  </ng-template>
