h5.qi-title Overview
p
  | The Quantitative Imaging Profile
  | (<em>QIP<span class='qi-smaller'>R</span></em>
  | <button class="btn btn-sm qi-btn" type='button'
  |         onclick='new Audio("public/media/QiPr1.mp3").play()'
  | >
  |   <i class="fa fa-volume-up"></i>
  | </button>)
  | application helps clinicians and imaging scientists
  | correlate imaging analysis results with clinical outcomes.

h5.qi-title Collections
p
  | The imaging collections are listed with a brief description.
  | Click on the collection name to view the summary patient
  | clinical and imaging information. Click on the
  | <i class="fa fa-info-circle"></i> button to the
  | right of the row to view the collection acquisition method
  | details.

h5.qi-title Navigation
p
  | <em>QIP<span class='qi-smaller'>R</span></em>
  | is intended to be used in its own tab. Navigation between
  | <em>QIP<span class='qi-smaller'>R</span></em>
  | pages within the browser history is nearly instantaneous.
  | Open a non-<em>QIP<span class='qi-smaller'>R</span></em>
  | page in a different tab in order to ensure the application
  | continuity and performance.

h5.qi-title Help
p
  | Every page in this application has a
  | <i class="fa fa-question-circle"></i>
  | help button in the banner. Clicking this button opens the
  | help pane for the active page. The help pane can be dismissed
  | by clicking on the upper right
  | <i class="fa fa-close qi-close"></i> close button or anywhere
  | outside of the help pane.

h5.qi-title Home
p
  | Every page also has a <i class="fa fa-home"></i> home
  | button that returns to the application landing page.
