// The if test checks for a loaded volume.
.qi-vertical-chooser.qi-volume-chooser-left(
  *ngIf="volume"
)
  // The chooser heading.
  .row Time Point
  // The value slider.
  .row.qi-vertical-slider(
    qi-slider, [min]="1", [max]="volumeCount()",
    [config]="sliderConfig", [height]="sliderHeight",
    [value]="volume.number",
    (changed)="onTimePointRequest($event)",
    (window:resize)="onResize($event.target)"
  )
  // The [previous, play, next] buttons.
  qi-player.row(
    [value]="volume.number",
    [cancel]="isError", (action)="onTimePointRequest($event)"
  )
