extends ../layout/partial

block billboard
  | {{ volume.title }}

block content
  // The time point number chooser slider-player combo.
  include ./time-point-chooser
  // The volume image display view.
  qi-image(
    [image]="volume", (loaded)="onLoaded($event)",
    (error)="onLoadError($event)"
  )
  // The session number chooser slider-player combo.
  // TODO - copy and change the time point number chooser.
