extends ../layout/partial

block billboard
  | {{ name }} Collection

block content
  .row
    .col-md-2.qi-align-top
      div(
        qi-scatter-plot, [height]="sessionsChart.height",
        [data]="sessions", [color]="'subject.number'",
        [margin]="sessionsChart.margin",
        [x]="sessionsChart.x.property", [y]="sessionsChart.y.property",
        [onAxis]="onAxis", (plotted)="onSessionsChartPlotted($event)",
        [selection]="selection", (select)="onBrushSelect($event)"
      )
    .col-md-10
      // Double up the correlation charts horizontally in the
      // remaining space.
      qi-collection-correlation.col-md-6(
        *ngFor="let correlation of correlations",
        [data]="sessions",
        [selection]="selection",
        [xOptions]="correlationConfig.Clinical",
        [yOptions]="correlationConfig.Imaging",
        [xSelOptionPath]="correlation.xPath",
        [ySelOptionPath]="correlation.yPath",
        (select)="onBrushSelect($event)"
      )
