extends ../layout/partial

block billboard
  | {{ name }} Collection

block content
  .row.qi-collection
    .col-md-2.qi-align-top
      .qi-sessions-chart(
        qi-scatter-plot, [height]="sessionsChart.height",
        [data]="sessions", [color]="'subject.number'",
        [margin]="sessionsChartMargin",
        [x]="sessionsChart.x.property", [y]="sessionsChart.y.property",
        [yDiscrete]=true, [symbolType]="symbolType",
        [onAxis]="onSessionsChartAxis",
        (plotted)="onSessionsChartPlotted($event)",
        [selection]="selection", (select)="onBrushSelect($event)"
      )
    .col-md-10
      // Double up the correlation charts horizontally in the
      // remaining space.
      qi-correlation.col-md-6(
        *ngFor="let correlation of correlations",
        [data]="sessions", [color]="'subject.number'",
        [valueChoices]="valueChoices", [symbolType]="symbolType",
        [xSelectionChoices]="selectionChoices",
        [ySelectionChoices]="selectionChoices",
        [xSelectionPath]="correlation.x",
        [ySelectionPath]="correlation.y",
        [domainSelection]="domainSelection",
        (select)="onBrushSelect($event)"
      )
