extends ../layout/partial

block billboard
  | {{ name }} Collection

block content
  ul.qi-main-list
    li(*ngFor="let subject of subjects | async")
      | {{ subject.number }}
  //- qi-collection-correlations([subjects]="subjects | async")
