extends ../layout/page

block main
  - var home = "/qiprofile/";
  - var support = "http://qiprofile.idea.informer.com/";

  .qi-billboard
    | Oops
  p.
    <em>
    QIP<span class='qi-smaller'>R</span>
    </em>
    could not satisy your request.
  p
    | Click on the back button to return to the previous page
    | or open the <a href="#{ url }"> Project List </a>
    | page to display the imaging projects which you can visit.
  p
    | Additional support is available from our
    | <a href="#{ support}"> Support Page</a>.

  img(src='/public/media/broken.jpg')
