extends ../layout/main

block body
  - var home = "/qiprofile/";
  - var support = "http://qiprofile.idea.informer.com/";
  
  .qi-billboard
    h3 Oops
  p.
    <em>
    Q<span class='qi-x-smaller'>I</span>P<span class='qi-x-smaller'>R</span>
    </em>
    could not satisy your request.
  p
    | Click on the back button to return to the previous page
    | or open the <a href="#{ url }"> Project List </a>
    | page to display the imaging projects which you can visit.
  p
    | Additional support is available from our
    | <a href="#{ support}"> Support Page</a>.

  img(src='/static/media/broken.jpg')
