.qi-popup
  .qi-popup-close.glyphicon.glyphicon-remove((click)="dismiss()")
  .alert.alert-danger Oops: {{ error }}
  table.table.qi-borderless.qi-error-remedy
    tr
      td
        img(src='/static/media/not-found.png')
      td
        .row
          .col-md-4
            img(src='/static/media/arrow-right.png')
          .col-md-4
            img(src='/static/media/arrow-up-left.png')
          .col-md-4.qi-error-right
            img(src='/static/media/arrow-up.png')
        .row
          .col-md-4 Go Back,
          .col-md-4 Go Home
          .col-md-4.qi-error-right or Try Again
