.alert.alert-danger {{ error }}
.row
  img.col-md-5(src='/static/media/not-found.png')
  .col-md-2
  img.col-md-1(src='/static/media/arrow-right.png')
  .col-md-2.qi-error-home
    | Go Back &nbsp; or &nbsp; Go Home
  img.col-md-1(src='/static/media/arrow-up-left.png')
