extends ../layout/main

block body
  - var url = "/qiprofile/<project>";
  
  .qi-billboard
    h3 Oops
  p.
    <em>
    Q<span class='qi-x-smaller'>I</span>P<span class='qi-x-smaller'>R</span>
    </em>
    encountered the following error:
  p
    code {{ error }}
  p
    | Click on the back button to return to the previous page
    | or visit
    code #{ url }
    | to open the application landing page.

  img(src='static/media/error.jpg')
