div(*ngIf="hasContent()")
  // The optional table title.
  span.qi-table-title(*ngIf="title") {{ title }}

  // The table of simple values, e.g. numbers and strings.
  table.table.qi-table.qi-y-spacer
    tr(*ngFor="let key of simpleKeys")
      th
        span([innerHtml]="getLabel(key)")
      td {{ getDisplayValue(key) }}

  // The nested tables.
  .qi-y-spacer(*ngFor="let key of compositeKeys")
    qi-property-table(
      *ngFor="let child of children(key); let i = index",
      [object]="child", [parent]="object",
      [path]="getPath(key, i)",
      [valueChoices]="valueChoices",
      [label]="label", [title]="getLabel(key)"
    )
