// The common contact sequel.

.qi-contact-info
  | We welcome your questions and comments placed in our
  | <a href="http://qiprofile.idea.informer.com">
  |   Suggestion/Question Box
  | </a>
  | .
