.navbar.navbar-default.qi-navbar(role='navigation')
  .header.navbar-header
    // The logo.
    img.qi-logo(src='static/media/H.png', width='48', height='48', alt='Hydrogen')
    .brand.navbar-brand.qi-brand
      | <em>
      |   QIP<span class='qi-x-smaller'>R</span>
      | </em>
      | - Quantitative Imaging Profile
  // The navigation controls.
  .collapse.navbar-collapse
    ul.nav.navbar-nav.qi-navbar-right.navbar-right
      li
        qi-home(project="{{ project }}")
      li
        qi-toggle-help
