// Even though navbar collapse is not toggleable, we retain
// the Bootstrap toggleable class because it sets the correct
// navbar flex row behavior. Otherwise, the default flex
// column settings would wrap the controls.
.navbar.navbar-toggleable.navbar-light.rounded-top.qi-navbar
  .navbar-brand.qi-brand(role='banner')
    // The logo.
    img.align-top.d-inline.qi-logo(
      src='public/media/H.png', width='48', height='48',
      alt='Hydrogen'
    )
    // The title.
    span
      | <em>
      |   QIP<span class='qi-smaller'>R</span>
      | </em>
    // This part of the title is hidden on small screens.
    span.hidden-xs-down
      |  - Quantitative Imaging Profile

  // The navigation controls.
  ul.navbar-nav.qi-right(role='navigation')
    li.nav-item
      qi-home(project="{{ project }}")
    li.nav-item
      qi-toggle-help
