// The header, including the nav home and help buttons.
include header

// The context title e.g. 'Breast Patient 4'.
.qi-page-title.rounded-bottom
  block title

// The main partial content.
.qi-main(role='main')
  // The error pop-up is shown if and only if the error property
  // is set. When the pop-up is closed, the error property is
  // unset via the PageComponent.clearError callback.
  qi-error(*ngIf="error", [error]="error", (dismissed)="clearError()")
  .qi-content
    // The guts.
    block content
  // The global modal container element required per the
  // https://ng-bootstrap.github.io/#/components/modal
  // 'Heads up' note.
  <ng-template ngbModalContainer></ng-template>
