extends ../layout/partial

block title
  | Projects

block help
  include include/page-help

block content
  ul.qi-main-list
    p(*ngIf="isEmpty")
      | No projects were found.
    li(*ngFor="let project of projects")
      qi-project-item([project]="project")
